.instagram-widget
  margin-top 1em
  &__title
    @extend h3

    line-height 1em

    a
      padding-left 1.5em
      text-decoration none
      color var(--font-color)
      background-image var(--instagram)
      background-repeat no-repeat
      background-position left center
      background-size 1em
      &:hover
        text-decoration underline
  &__list
    display flex
    flex-wrap wrap
    margin -(basePadding)
    margin-top 0
  &__item
    position relative
    width unquote('calc(100% / 8 - '+(basePadding*2)+')')
    margin basePadding
    &::after
      content ''
      display block
      padding-bottom 100%
    @media screen and (max-width point-s - 1)
      width unquote('calc(100% / 4 - '+(basePadding*2)+')')
      
  &__item-content
    position absolute
    top 0
    left 0
    width 100%
    height 100%

    a
      display flex
      overflow hidden
      align-items center
      justify-content center
      width 100%
      height 100%

    img
      min-width 100%
      min-height 100%
      object-fit cover // @stylint-ignore
