.question
  & + &
    margin-top .875em
  h2 + &
    margin-top .1875em
  &__title + &__body
    margin-top .3125em
  &__title
    font-size 1.25em
    cursor pointer
    color var(--link-secondary-color)
    border-bottom 1px dotted
    transition color .2s
    @supports (text-decoration-style dotted) or (-webkit-text-decoration-style dotted)
      text-decoration underline
      text-decoration-style dotted
      border-bottom none
    &:hover
    &:focus
    &:active
      color var(--link-secondary-color-hover)
      transition none
  &__body
    padding-bottom 1em
