.block-marked-icon
  &.block-marked
    min-height 8.75rem
    padding-y 1.25rem
    padding-left 9rem
    background-image url('../images/svg-sprites/icons.svg#book')
    background-repeat no-repeat
    background-position 1.75rem (basePadding*2.3333)
    background-size auto 4.75rem
    &--padding-small
      min-height auto
      padding-left (2.875rem + (basePadding*4))
      background-position (basePadding*2) (basePadding*1.3333)
      background-size 2.875rem
