include /blocks/block-marked/block-marked

mixin blockMarkedIcon(settings)
  -
    !settings ? settings = {padding: 'small'} : settings
    settings.padding = settings.padding || 'small'
  +blockMarked(settings).block-marked-icon
    block
