include ../scripts/scripts

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/grid/grid
include /blocks/create-element/create-element
include /helpers/classes

doctype html
html(lang='ru')
  include ../head/head
  body
    .page
      include ../header/header
      main
        block content
      include ../footer/footer
  block end
  if isContactsPage
    script(src="https://unpkg.com/video.js/dist/video.min.js")
    script(src="https://unpkg.com/videojs-vr/dist/videojs-vr.min.js")
  +scripts(['jquery-3.5.1.min.js','jquery.countdown.js','script.js'])
