.table-wrap
  overflow-x auto
  parMargin()
.table
  width 100%
  &__header
    padding (basePadding/3*2) basePadding
    font-size font-s
    line-height line-s
    text-align center
    vertical-align middle
    background-color var(--marked-color-light)
    border 2px solid var(--marked-color-dark)
  &__cell
    padding (basePadding/3*2) basePadding
    border-right 2px solid var(--border-color)
    border-left 2px solid var(--border-color)

    ^[-1]__row:last-child > &
      border-bottom 2px solid var(--border-color)
    ^[-1]__row:first-child:not(^[-1]__row--header) > &
      border-top 2px solid var(--border-color)
    &--empty
      text-align center
      vertical-align middle
      &::after
        content '—'
        font-size font-xxxl
        font-weight bold
  &:not(&--oneline)
    & ^[-1]__row:nth-child(2n-1):not(^[-1]__row--header) > ^[-1]__cell
      background #f3f3f3
