mixin table(tableSettings = {})
  - global.mrTable = []
  block
  .table-wrap
    -
      const tableClassList = []
      for (let i of Object.entries(tableSettings) ) {
        if (i[1]===true)
          tableClassList.push(`table--${i[0]}`)
        else
          tableClassList.push(`table--${i[0]}-${i[1]}`)
      }
      attributes.class ? tableClassList.push(attributes.class) : false
    table.table(class != tableClassList id != attributes.id)
      //- формирование блока colgroup для стилизации колонок
      -
        let cols = global.mrTable[0].length // подсчёт количества колонок в таблице
        let colGroupClass = 'table__colgroup--'+cols // модификатор класса для элемента colgroup 
      colgroup.table__colgroup(class!= colGroupClass) 
        - let i = 0 // счётчик элементов col
        //- цикл создания элементов col
        while i < cols 
          col.table__col
          - i++
      each row in global.mrTable
        tr.table__row
          each item in row
            -
              const cellTag = item.settings.header ? 'th' : 'td'
              const cellClassList = [item.settings.header ? 'table__header' : 'table__cell']
              item.settings.empty = item.settings.empty !== false && !item.block ? true : item.settings.empty
              for (let i of Object.entries(item.settings) ) {
                if ((i[0] !== 'header' || i[1] !== true) && (i[1])) {
                  if (i[1]===true)
                    cellClassList.push(`table__cell--${i[0]}`)
                  else
                    cellClassList.push(`table__cell--${i[0]}-${i[1]}`)
                }
              }
            #{cellTag}(class != cellClassList)&attributes(item.attributes): - item.block ? item.block() : false;

mixin tr
  - global.mrTableRow = []
  block
  - global.mrTable.push(global.mrTableRow)
  - delete global.mrTableRow

mixin td(tdSettings = {})
  - global.mrTableRow.push({block: this.block, settings: tdSettings, attributes: attributes})

mixin th(thSettings = {})
  - thSettings.header = true
  - global.mrTableRow.push({block: this.block, settings: thSettings, attributes: attributes})
