.orders-history-item
  parMargin()
  & + &
    margin-top (basePadding*2.375)
  &__header
    display flex
    justify-content space-between
    align-items baseline
    padding (basePadding/2) basePadding
    background #f2f2f2
    border 1px solid #d6d6d6
  &__title
    margin-x basePadding
  &__info
    display flex
    margin-x (basePadding/2)
    color var(--font-color-secondary)
  &__status
    margin-x (basePadding/2)
    &--cancelled
      color var(--message-text-warning-color)
  &__date-done
    margin-x (basePadding/2)
  &__footer
    display flex
    justify-content space-between
    padding (basePadding) basePadding
    border 1px solid #d6d6d6
    border-top none

    a
      margin-x basePadding
