.banner-robokassa
  display flex
  align-items center
  justify-content space-between
  padding-x (basePadding*2)
  background-color var(--marked-color-light)
  @media screen and (max-width point-s - 1)
    flex-wrap wrap
    justify-content center
  &__inner
    max-width 36rem
    margin-y (basePadding)
    font-size font-m
    line-height line-m
    padding-left (basePadding*4)
    background-image url('../images/svg-sprites/icons.svg#lock')
    background-repeat no-repeat
    background-position left center
  &::after
    content ''
    width 15rem
    height 1.75rem
    margin-x (basePadding*2)
    margin-y (basePadding)
    background-image url('../images/robokassa.svg')
    background-repeat no-repeat
    background-position center
