include /blocks/form-input/form-input

mixin productSize(size)
  -
    const itemId = `product-size-${size}`;
    const itemName = size.toUpperCase();
  +formInput({'type': 'radio', 'value': size, 'name': 'size', 'label': itemName})(id != itemId).product-size
