.product-size
  display flex
  .form-input
    &__label
      order 2
      padding-left .5em
      text-transform none
    &__field
      flex-grow 0
      flex-shrink 0
      order 1
      width auto
