mixin discountsSlide(slide)
  .discounts-slide&attributes(attributes).container: .content.discounts-slide__inner
    if slide.imageLeft
      .discounts-slide__image.hidden-xs.hidden-s.hidden-m
        +img({
          name: slide.imageLeft,
          path: '/images/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'png', orig: true },
          ],
          density: [
            { values: [1, 2] }
          ]
        })(alt= slide.title title= slide.title decoding="async" loading="lazy")
    .discounts-slide__info
      if slide.deadline
        .discounts-slide__deadline !{slide.deadline}
      .discounts-slide__title !{slide.title}
      .discounts-slide__description
        block
      if slide.countDate
        .discounts-slide__promo
          .discounts-slide__counter
            .countdown(data-date= slide.countDate)
      if slide.href
        a(href= slide.href).btn.discounts-slide__btn Каталог 
    .discounts-slide__image
      +img({
        name: slide.image,
        path: '/images/',
        formats: [
          { ext: 'webp', mime: 'image/webp' },
          { ext: 'png', orig: true },
        ],
        density: [
          { values: [1, 2] }
        ]
      })(alt= slide.title title= slide.title decoding="async" loading="lazy")
      if slide.clarification
        p.discounts-slide__clarification !{slide.clarification}
