.discounts-slide
  box-sizing border-box
  height auto
  padding 2.5rem 3.5rem
  background-color #F2EDE6
  @media(max-width point-m - 1)
    padding 1.5rem
  &__inner
    background-color  #FFFAF2
    height 100%
    @media (min-width point-m)
      display flex
      justify-content center
      column-gap 1.5rem
    @media (max-width point-m - 1)
      flex-wrap wrap
    @media (min-width point-m)
      &.content
        padding-x 2rem
  &__info
    position relative
    display flex
    flex-direction column
    justify-content center
    align-items flex-start
    width 100%
    @media (min-width point-m)
      max-width 26.75rem
      min-width 24rem
      height 100%
      padding-y 2rem
    @media (max-width point-m - 1)
      padding-top 2rem
      padding-bottom 1.25rem
    &::before
      @media (max-width point-m - 1)
        content ''
        position absolute
        inset 0 (-(basePadding)) -5.625rem
        z-index -1
        background-color #E3D4B7
    mark
      font-weight inherit
      color #A2483D
    del
      text-decoration none
      color #8C8C8C
  &__deadline
    margin-bottom 1.5rem
    padding 0.25rem 0.75rem
    font-size 1.125rem
    color #ffffff
    background-color #A68B80
    border-radius 4px
  &__title
    font-size 1.625rem
    font-weight 500
    line-height 1
    small
      display block
      margin-top 1rem
      font-size 1.125rem
      font-weight bold
      line-height 1.625rem
      color #A11C40
  &__description
    margin-top 1.5rem
    font-size 1.125rem
    p
      font-size inherit
      line-height 1.4
  &__promo
    display flex
    flex-direction column
    row-gap 1rem
  .list-marked
    padding-left 1rem
    font-size inherit
  &__counter
    z-index 2
    margin-top 20px
    color #4e4e4e
    .countdownHolder
      display flex
      margin-top 0.75rem
      .position
        position relative
        display inline-block
        width line-xxl*(3/4)
        height line-xxl
        overflow hidden
      .digit
        background #a68b80
        box-shadow none
        position: absolute;
        display: block
        width line-xxl*(3/4)
        line-height line-xxl
        font-size 1em
        border-radius: 0.2rem
        text-align: center
        color: #fff
        letter-spacing: -1px
      .digit.static
        background #a68b80
        box-shadow none
        display block
      .countDays::after
        font-size 12px
        content 'дней'
        display block
        text-align center
      .countHours::after
        font-size 12px
        content 'часов'
        display block
        text-align center
      .countMinutes::after
        font-size 12px
        content 'минут'
        display block
        text-align center
      .countSeconds::after
        font-size 12px
        content 'секунд'
        display block
        text-align center
      .countDiv
        display flex
        align-items center
        &::after
          margin-x .25rem
          line-height line-xxl
          font-size font-xxl
          content ':'
  &__clarification
    max-width 15.125rem
    margin 1rem auto 0
    font-size 1rem
    line-height 1.4
    text-align center
    mark
      color #A2483D
    @media (max-width point-m - 1)
      padding-bottom 1rem
  &__image
    @media (min-width point-m)
      margin-top -4rem
      padding-bottom 1rem
      img
        max-height 330px
  &__btn
    margin-top 1rem
    @media(max-width point-s - 1)
      width 100%
