mixin productCategory(product = {})
  a(href='materialy-kategoriya.html').product-category
    .product-category__image: img(src != product.image alt != product.alt || product.name)
    .product-category__name !{product.name}
