.product-category
  text-decoration none
  &:hover
    & ^[-1]__name
      color var(--link-color-hover)
  &__name
    margin-top .5rem
    font-size font-l
    font-weight 500
    text-align center
    color var(--font-color)
