.slider
  --arrow-position 0
  --arrow-background-color #4E4E4E
  --arrow-background-color-hover #101010
  position relative
  overflow hidden
  &__slider
    position static
  &__arrow
    position absolute
    bottom -3px
    width (basePadding * 4)
    height (basePadding * 2)
    z-index 10
    &::before
      content ''
      display block
      width (basePadding * 4)
      height (basePadding * 2)
      z-index 3
      padding 0
      background-color var(--arrow-background-color)
      mask-image url('../images/svg-sprites/common.svg#arrow')
      mask-repeat no-repeat
      mask-position center
      mask-size contain
      cursor pointer
      transition background-color 0.4s
    &--prev
      left var(--arrow-position)
      transform scaleX(-1)
    &--next
      right var(--arrow-position)
    &--disabled
      --arrow-background-color #B7B7B7
      cursor default
      pointer-events none
    &:hover
      --arrow-background-color var(--arrow-background-color-hover)
      transition-duration 0.1s
  &__pagination
    display flex
    gap 8px
    justify-content center
    align-items center
    margin-block 14px 8px
  &__pagination-item
    position relative
    bottom unset
    display flex
    justify-content center
    width 8px
    height 8px
    border-radius 50%
    background-color #7c776c
    transition background-color 0.4s
    opacity 0.2
    &--active
      background-color #4E4E4E
      opacity 1
