.header-navigation
  @media screen and (max-width point-m - 1)
    position absolute
    top 3rem
    z-index 20
    width 20rem
    background-color var(--marked-color-light)
    transition transform .2s
    transform scale(0)
    transform-origin 0 0 0
    &--active
      transition none
      transform scale(1)
    &__list
      flex-direction column
    &__list-item
      position relative
      display flex
      flex-wrap wrap
      transition background-color .2s
      & > a
        display block
        padding basePadding
        font-weight 500
        text-decoration none
        color var(--link-secondary-color)
        transition color .2s
      &:hover
        & > a
          color var(--link-secondary-color-hover)
          transition none
      &--parent
        & > a
          width calc(100% - 3rem)
    &__sublist-switch
      display flex
      align-items center
      justify-content center
      width 3rem
      height 3rem
      background-image red
      &::after
        content ''
        display inline-block
        width basePadding
        height basePadding
        border-right 4px solid
        border-bottom 4px solid
        transform scaleY(.875) translateY(-25%) rotate(45deg)
      &--active
        &::after
          transform scaleY(.875) translateY(25%) rotate(-135deg)
    &__sublist
      display none
      width 100%
      padding-left (basePadding*2)
      &--active
        display block
      & &
        display block
        padding-left (basePadding)
    &__sublist-item
      & > a
        padding (basePadding/2) (basePadding)
        font-weight 400
        white-space nowrap
        color var(--nav-background)
        transition color .2s
      &:hover
        & > a
          color var(--link-color-hover)
          background-color transparent
          transition none
      & > span
        flex-grow 1
        padding (basePadding) (basePadding) (basePadding/2)
        font-size font-m
        font-weight bold
        white-space nowrap
        color var(--nav-background)
        transition color .2s
      &:first-child span
        padding-top (basePadding/2)
      & > ^[-1]__sublist-link
        padding 0.9375rem 0.9375rem 0.46875rem
        font-size 1em
        font-weight bold
