.header-navigation
  @media screen and (min-width (point-m))
    &__list
      display flex
      flex-wrap wrap
    &__list-item
      position relative
      display flex
      flex-wrap wrap
      transition background-color .2s
      & > a
        display block
        padding (basePadding)
        font-weight 500
        text-decoration none
        color #ffffff
        transition color .2s
      &:hover
        background-color var(--link-color)
        transition none
      &--parent
        & > a::after
          content ''
          display inline-block
          width .5rem
          height .5rem
          margin-left (basePadding/3*2)
          border-right 2px solid
          border-bottom 2px solid
          transform scaleY(.875) translateY(-25%) rotate(45deg)
      &--active
        background-color var(--link-color)
    &__sublist
      position absolute
      top 3.0625rem
      z-index 10
      background-color var(--marked-color-light)
      transform scaleY(0)
      transform-origin 0 0 0
      transition transform .2s
      ^[-1]__list-item:hover > & // @stylint ignore
        transition none
        transform scaleY(1)
      & &
        position static
        width 100%
        transform none
    &__sublist-item
      @extend .header-navigation__list-item
      & > a
        flex-grow 1
        padding-y (basePadding/4*3)
        font-size font-s
        white-space nowrap
        color var(--nav-background)
        transition color .2s
      &:hover
        background-color transparent
        & > a
          color var(--link-color-hover)
          background-color transparent
          transition none
      & > span
        flex-grow 1
        padding (basePadding) (basePadding) (basePadding/2)
        font-size font-m
        font-weight bold
        white-space nowrap
        color var(--nav-background)
        transition color .2s
      & > ^[-1]__sublist-link
        padding 0.9375rem 0.9375rem 0.46875rem
        font-size 1em
        font-weight bold
