.pagination
  display flex
  margin-x -.25rem
  font-size font-xxl
  &__item
    margin-x .25rem

    a
      display inline-block
      padding .25rem .75rem
      text-decoration none
      color var(--link-secondary-color)
      &:hover
        color var(--link-secondary-color-hover)
    span
      display inline-block
      padding .25rem .5rem
    &--active
      span
        display inline-block
        padding .25rem .75rem
        font-weight 500
        border-bottom 2px solid
      
