a.link-details
  display inline-block
  width 1em
  line-height 1em
  text-align center
  text-decoration none
  color var(--link-secondary-color)
  border 1px solid
  border-radius 50%
  &:hover
    color var(--link-secondary-color-hover)
