.breadcrumbs
  display flex
  flex-wrap wrap
  align-items center
  padding-y (basePadding/3*4)
  font-size font-s
  font-weight 500
  line-height line-s
  &__parent
    padding-right (basePadding /2)
    a
      color var(--link-secondary-color)
      &:hover
        color var(--link-secondary-color-hover)
  &__current
    color var(--font-color-secondary)
  &__separator
    border .25rem solid transparent
    border-left .25rem solid #cccccc
