mixin productImages(settings = {list: true})

  .product-images
    .product-images__main
      a(href='https://dummyimage.com/736x1104.jpg' data-fancybox='product-images')
        img(src='https://dummyimage.com/736x1104.jpg' alt='Perfecto Длинная женская система волос на сетке на всю голову' title='Perfecto Длинная женская система волос на сетке на всю голову')
        .product-images__discount -25%
    if settings.list
      .product-images__list
        a(href='https://dummyimage.com/736x1104.jpg' data-fancybox='product-images').product-images__item: img(src='https://dummyimage.com/160x240.jpg' alt='Perfecto Длинная женская система волос на сетке на всю голову' title='Perfecto Длинная женская система волос на сетке на всю голову')
        a(href='https://dummyimage.com/736x1104.jpg' data-fancybox='product-images').product-images__item: img(src='https://dummyimage.com/160x240.jpg' alt='Perfecto Длинная женская система волос на сетке на всю голову' title='Perfecto Длинная женская система волос на сетке на всю голову')
        a(href='https://dummyimage.com/736x1104.jpg' data-fancybox='product-images').product-images__item: img(src='https://dummyimage.com/160x240.jpg' alt='Perfecto Длинная женская система волос на сетке на всю голову' title='Perfecto Длинная женская система волос на сетке на всю голову')
        a(href='https://dummyimage.com/736x1104.jpg' data-fancybox='product-images').product-images__item: img(src='https://dummyimage.com/160x240.jpg' alt='Perfecto Длинная женская система волос на сетке на всю голову' title='Perfecto Длинная женская система волос на сетке на всю голову')
        a(href='https://dummyimage.com/736x1104.jpg' data-fancybox='product-images').product-images__item: img(src='https://dummyimage.com/160x240.jpg' alt='Perfecto Длинная женская система волос на сетке на всю голову' title='Perfecto Длинная женская система волос на сетке на всю голову')
        a(href='https://dummyimage.com/736x1104.jpg' data-fancybox='product-images').product-images__item: img(src='https://dummyimage.com/160x240.jpg' alt='Perfecto Длинная женская система волос на сетке на всю голову' title='Perfecto Длинная женская система волос на сетке на всю голову')
        a(href='https://dummyimage.com/736x1104.jpg' data-fancybox='product-images').product-images__item: img(src='https://dummyimage.com/160x240.jpg' alt='Perfecto Длинная женская система волос на сетке на всю голову' title='Perfecto Длинная женская система волос на сетке на всю голову')
        a(href='https://dummyimage.com/736x1104.jpg' data-fancybox='product-images').product-images__item: img(src='https://dummyimage.com/160x240.jpg' alt='Perfecto Длинная женская система волос на сетке на всю голову' title='Perfecto Длинная женская система волос на сетке на всю голову')
