.product-images
  img
    display block
  &__main
    position relative
  &__list
    display grid
    grid-row-gap basePadding // @stylint ignore
    grid-column-gap basePadding // @stylint ignore
    grid-template-columns repeat(4, 1fr)
    margin-top basePadding
  &__discount
    position absolute
    right 0
    bottom 0
    display flex
    align-items center
    justify-content center
    width 3.5rem
    height 3.5rem
    font-size 1.25rem
    font-weight 500
    color #fff
    background-color #f42c2c
    border-radius 50%
