.block-marked
  parMargin()
  margin-right -(basePadding*1.75)
  margin-left -(basePadding*1.875)
  padding-y 2.5rem
  padding-right (basePadding*3.75)
  padding-left (basePadding*3.875)
  background-color var(--marked-color-light)
  h2 + & // @stylint ignore
    margin-top (basePadding* 2)
  &--in-grid
    max-width unquote('calc(100% + ' + (basePadding*1.875) + ')')
  @media screen and (max-width (containerWidth))
    margin-x (-(basePadding))
    padding-x (basePadding)
  &--margin-top
    border-top (basePadding* 2.4) solid var(--body-background-color)
  &--color-light
    background-color var(--marked-color-light)
  &--color-medium
    background-color var(--marked-color-medium)
  &--color-dark
    background-color var(--marked-color-dark)
  &--padding-small
    margin-x 0
    padding-x (basePadding)
    padding-y (basePadding*1.3333)
    & > img
      display block
    &^[-1]--margin-top
      border-top (basePadding* (2.6666)) solid var(--body-background-color)
    & ^[-1]__content
      &--lifted
        margin-bottom -(basePadding * (2.6666))
        transform translateY(-(basePadding * (2.6666)))
      &--marked
        padding (basePadding)
        background-color var(--marked-content)
  &--padding-big
    padding-y (basePadding*3.75)
    & > img
      display block
    &^[-1]--margin-top
      border-top (basePadding* (3.6666)) solid var(--body-background-color)
    & ^[-1]__content
      &--lifted
        margin-bottom -(basePadding * (3.6666))
        transform translateY(-(basePadding * (3.6666)))
      &--marked
        padding (basePadding)
        background-color var(--marked-content)
  &--padding-medium
    margin-x 0
    padding-x (basePadding*2)
    padding-y (basePadding*2.3333)
  &--font-size-
    &small
      font-size font-xs
      p // @stylint ignore
        font-size font-s
        line-height line-s
        & + p
          margin-top font-s
  &__content
    &--lifted
      margin-bottom -(basePadding * (2.6666 + 2.5333))
      transform translateY(-(basePadding * (2.6666 + 2.5333)))
    &--marked
      padding (basePadding*2)
      background-color var(--marked-content)
  &__quote
    p
      &:first-of-type
        &::before
          content '«'
          font-size font-xxl
          line-height line-m
      &:last-of-type
        &::after
          content '»'
          font-size font-xxl
          line-height line-m
  &__cite
    display block
    margin-top (basePadding*4.8)
    font-size font-s
    font-weight 500
    font-style italic
    line-height line-s
    color var(--font-color-secondary)
