.feedback-video
  &__video
    border (basePadding/3*2) solid var(--marked-color-light)
    & .iframe-responsive,
    & .iframe-responsive__iframe
      margin-bottom 0
  &__description
    margin-top basePadding
    text-align center
