mixin productProperties(list = [])
  .product-properties
    each item in list
      .product-properties__item
        .product-properties__name !{item.name}
        .product-properties__value !{item.value}
          if item.details
            |  
            .tip
              a(href='#').tip__link.link-details ?
              .tip__body: +createElement(item.details)
