.product-properties
  display grid
  grid-template-columns max-content 1fr
  &__item
    display contents
  &__name
    padding-y (basePadding/3*2)
    padding-right (basePadding*2)
    border-bottom 1px solid var(--marked-color-light)
  &__value
    padding-y (basePadding/3*2)
    border-bottom 1px solid var(--marked-color-light)
  .link-details
    margin-left (basePadding/3)
