include /data/main-menu

.header-top
  .header-top__item.header-top__item--logo
    include ../../logo/logo
  .header-top__item.header-top__item--info.hidden-s.hidden-xs
    ul.header-top__links
      li.header-top__link: a(href='') Как заказать?
      li.header-top__link: a(href='') Доставка и оплата
      li.header-top__link: a(href='') Гарантии
    .header-top__name Интернет-магазин систем волос
    .header-top__city Решение проблемы облысения в кратчайшие сроки
  .header-top__item.header-top__item--phone.header-top__item--info.hidden-s.hidden-xs
    p бесплатно для звонков по России
    p: a(href='tel:78007752089').header-top__phone +7 (800) 775-20-89
    p: a(href='#' onclick='Comagic.openSitePhonePanel()') получить обратный звонок
  .header-top__item.header-top__item--cart
    include ../header-register/header-register
    include ../header-cart/header-cart
