.header-top
  display flex
  align-items flex-end
  margin-x -(basePadding)
  padding-y basePadding
  &__item
    margin-x basePadding
    &--contacts
      margin-left auto
      line-height font-xl
    &--info
      margin-right auto
      line-height font-xl
    &--phone
      flex-basis 18rem
      align-self center
      font-size font-s
    &--cart
      flex-basis 10.625rem
      @media screen and (max-width point-m - 1)
        margin-left auto
  &__name
    font-size font-xl
  &__city
    font-size font-s
  &__links
    display flex
    margin-bottom (basePadding/2)
    padding-bottom (basePadding/2)
    border-bottom 1px solid var(--border-color)
  &__link
    margin-right (basePadding*2)
    font-size font-s
    &:last-child
      margin-right 0

  &__phone
    font-size 2rem
    text-decoration inherit
    color inherit
    transition .4s opacity
    &:hover
      opacity .75
      transition .1s opacity
