.catalog-sort
  display flex
  flex-wrap wrap
  padding (basePadding/3*2) basePadding
  border-bottom 1px solid var(--marked-color-light)
  &__title
    margin (basePadding/3) basePadding
    border 2px solid transparent
  &__item
    a
      display block
      padding (basePadding/3) basePadding
      text-decoration none
      color var(--link-secondary-color)
      border 2px solid transparent
      &:hover
        color var(--link-secondary-color-hover)
    &--active
      a
        font-weight 500
        color var(--link-secondary-color-hover)
        border-color var(--marked-color-light)
