.catalog-sort
  .catalog-sort__title Сортировать:
  .catalog-sort__item.catalog-sort__item--active: a(href='#') по популярности
  .catalog-sort__item: a(href='#') по возрастанию цены
  .catalog-sort__item: a(href='#') по убыванию цены
