.banner-model
  .container.banner-model__inner
    +grid({ align: 'center' }).content
      +grid__item({ m:9 })
        .banner-model__title Приглашаем мужчин и женщин с алопецией для съёмки
      +grid__item({ m:7 })
        .banner-model__text
          p (фото и&nbsp;видео) и&nbsp;дальнейшего использования материала в&nbsp;рекламных целях: на&nbsp;сайте и&nbsp;в&nbsp;социальных сетях.
          p В&nbsp;обмен на&nbsp;участие предоставляется значительная #[mark скидка] или (в&nbsp;зависимости от&nbsp;модели системы волос) #[mark система] идёт #[mark в&nbsp;подарок].
          p По&nbsp;условиям сотрудничества пишите в&nbsp;whatsapp.
          a(href='https://wa.me/79817245628' target='_blank').btn.banner-model__btn Написать
      +grid__item({ m:5 })
        .banner-model__image
          +img({
            name: 'models',
            path: '/images/',
            formats: [
              { ext: 'png', mime: 'image/jpeg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [1, 2] }
            ]
          })(width=550 height=622 alt='Фото мужчины и женщины')
