.banner-model
  @media(min-width point-l)
    padding-y 1rem
  &__inner
    padding 2.5rem
    background-color #F2EDE6
    @media(max-width point-m - 1)
      padding 1.5rem
    & .content
      padding 1.5rem
      background-color #FFFAF2
      @media(max-width point-m - 1)
        padding-x 0
  &__image
    @media(min-width point-m)
      margin-top -8.25rem
      margin-bottom -5rem
      margin-left -2rem
    @media(max-width point-m - 1)
      margin-top 1rem
  &__title
    margin-bottom 1rem
    font-size 1.625rem
    line-height 1.4
    font-weight 500
  &__text
    @media(min-width point-m)
      padding-right 1rem
  &__btn
    margin-top 1.25rem
    @media(max-width point-s - 1)
      width 100%
  mark
    color var(--link-color)
  p 
    font-size 1.125rem
    line-height 1.4
