.gallery
  display flex
  flex-wrap wrap
  gap (basePadding*2)
  @media(max-width point-m - 1)
    flex-wrap nowrap
    overflow-x scroll
  &__item
    flex-shrink 0 
    img
      max-height 16rem
      @media(max-width point-m - 1)
        max-height 11rem
