include /blocks/form-input/form-input
include /blocks/block-marked/block-marked

+blockMarked({padding: 'medium'}).catalog-filter
  .catalog-filter__header
    .catalog-filter__title Подбор по характеристикам
    a(href='').catalog-filter__header-link Какая система мне подойдет?
  form.catalog-filter__form
    .catalog-filter__input: +formInput({type: 'select', options: [{name:'Женская', value: '1'}], label: 'Пол'})
    .catalog-filter__input: +formInput({type: 'select', options: [{name:'Полный объём головы', value: '1'},{name:'Полный объём головы', value: '2'}], label: [
      'Тип',
      {className: 'tip', content:[
        {tag: 'a', className:'tip__link', attr: {href: '#'}, content: '?'},
        {className: 'tip__body', content: [
          {tag: 'p', content: {tag: 'strong', content: 'Lorem ipsum dolor sit amet'}},
          {tag: 'p', content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum'}
        ]}
      ]}
    ]})
    .catalog-filter__input.catalog-filter__input--disabled: +formInput({type: 'select', options: [{name:'15&nbsp;см', value: '1'}], disabled: true, label: [
      'Длина волос',
      {className: 'catalog-filter-tip tip', content:[
        {tag: 'a', className:'catalog-filter-tip__link tip__link', attr: {href: '#'}, content: '?'},
        {className: 'catalog-filter-tip__body tip__body', content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum'}
      ]}
    ]})
    .catalog-filter__input: +formInput({type: 'select', options: [{name:'Сетка', value: '1'}], label: [
      'Материал основы',
      {className: 'catalog-filter-tip tip', content:[
        {tag: 'a', className:'catalog-filter-tip__link tip__link', attr: {href: '#'}, content: '?'},
        {className: 'catalog-filter-tip__body tip__body', content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum'}
      ]}
    ]})
    .catalog-filter__submit
      .catalog-filter__button.catalog-filter__button--loading: input(type='button' disabled value='Показать (12)').btn.btn--wide
      input(type='button' value='Сбросить').catalog-filter__reset
