.catalog-filter
  &.block-marked
    padding-y (basePadding/3*4)
  &__header
    display flex
    flex-wrap wrap
    align-items baseline
    margin-x -(basePadding)
    margin-bottom (basePadding/3*4)
  &__title
    margin-x basePadding
    font-size font-xxxl
  &__header-link
    margin-x basePadding
    font-size font-s
  &__form
    display flex
    flex-wrap wrap
    align-items flex-end
    margin -(basePadding)

    @supports (display grid)
      display grid
      grid-gap (basePadding*2)
      grid-template-areas 'input1 input2 input3 input4 submit'
      grid-template-columns repeat(5, auto)
      margin 0
      @media screen and (max-width point-m - 1)
        grid-template-areas 'input1 input2' 'input3 input4' 'submit submit'
        grid-template-columns auto auto
      @media screen and (max-width point-s - 1)
        grid-template-areas 'input1' 'input2' 'input3' 'input4' 'submit'
        grid-template-columns 1fr
  &__input
    flex-grow 1
    padding basePadding

    @supports (display grid)
      padding 0
      &:nth-of-type(4n - 3)
        grid-column input1
      &:nth-of-type(4n - 2)
        grid-column input2
      &:nth-of-type(4n - 1)
        grid-column input3
      &:nth-of-type(4n)
        grid-column input4

    &--disabled
      .form-input__field
        color #999
  &__submit
    flex-grow 1
    padding basePadding

    @supports (display grid)
      display grid
      grid-column submit
      grid-gap (basePadding*2)
      grid-row 1
      grid-template-columns 12rem min-content
      padding 0
    @media screen and (max-width point-m - 1)
      grid-row submit
  &__button
    position relative
    &--loading
      opacity .5
      .btn:hover
        background-color var(--link-color)
      &::before
        content ''
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background-color var(--marked-color-light)
        opacity .75
      &::after
        content ''
        position absolute
        top calc(50% - 1rem)
        left calc(50% - 1rem)
        width 2rem
        height 2rem
        border 6px solid var(--link-color)
        border-right 6px solid transparent
        border-left 6px solid transparent
        border-radius 50%
        opacity .5
        animation catalog-loading
        animation-duration 1s
        animation-timing-function linear
        animation-iteration-count infinite
      @keyframes catalog-loading
        from
          transform rotate(0)
        to
          transform rotate(360deg)
  &__reset
    align-self center
    font-size 1.25em
    cursor pointer
    color var(--link-secondary-color)
    border none
    transition color .2s
    @supports (text-decoration-style dotted) or (-webkit-text-decoration-style dotted)
      text-decoration underline
      text-decoration-style dotted
      border-bottom none
    &:hover
    &:focus
    &:active
      color var(--link-secondary-color-hover)
      transition none
  .form-input
    &__label
      font-weight 500

      a
        display inline-block
        width 1rem
        font-size font-xs
        line-height .875rem
        text-align center
        text-decoration none
        color var(--link-secondary-color)
        border 1px solid
        border-radius 50%
        &:hover
          color var(--link-secondary-color-hover)
