.product-price
  display flex
  flex-wrap wrap
  align-items center
  &__value
    margin-right (basePadding*5)
    font-size (font-xxxl*1.5)
    font-weight 500
  &__number
    margin-left auto
    font-size font-s
    color var(--font-color-secondary)
