.btn
  display inline-block
  padding-top basePadding
  padding-right (basePadding*2)
  padding-bottom basePadding
  padding-left (basePadding*2)
  font-weight 700
  line-height font-m
  text-align center
  text-decoration none
  color #fff
  background-color var(--link-color)
  transition background-color .2s
  border none
  font-size font-m
  &:hover
  &:focus
  &:active
    color #fff
    background-color var(--link-color-hover)
    transition none
  a&
    border-bottom none
    text-decoration none
  &--wide
    a&
    button&
    input[type='button']&
      width 100%
.btn-arrow
  display inline-block
  padding-left (basePadding*2.4)
  padding-right (basePadding/3*2)
  padding-y (basePadding*0.4)
  background-color var(--marked-color-light)
  text-decoration none
  color var(--font-color)
  font-size font-s
  line-height 1rem
  background-image linear-gradient(to right, var(--link-color) 1.625rem, var(--marked-color-light) 1.625rem)
  position relative
  transition color timing-s
  cursor pointer
  &::before
    content ''
    position absolute
    left ((1.625rem - 0.675rem)/2)
    top 50%
    transform translateY(-50%)
    display block
    width 0.675rem
    height 0.675rem
    background-image url("../images/svg-sprites/common.svg#btn-arrow")
    background-repeat no-repeat
    background-position center
    background-size auto .675rem
  &:hover
    color var(--link-color-hover)
    transition none
