mixin mainMenu(list)
  - attributes.class = attributes.class ? attributes.class : 'main-menu'
  nav(class != attributes.class id != attributes.id)
    ul(class != attributes.class ? `${attributes.class}__list` : '')
      each item in list
        -
          let itemClassList = []
          attributes.class != undefined ? itemClassList.push(`${attributes.class}__list-item`) : ''
          item.active ? itemClassList.push(`${attributes.class}__list-item--active`) : ''
          item.sublist ? itemClassList.push(`${attributes.class}__list-item--parent`) : ''
        li(class != itemClassList)
          a(href=`${item.href}`) !{item.name}
          if item.sublist
            label(class != `${attributes.class}__sublist-switch`)
            ul(class != `${attributes.class}__sublist`)
              each subitem in item.sublist
                -
                  let subItemClassList = []
                  attributes.class != undefined ? subItemClassList.push(`${attributes.class}__sublist-item`) : ''
                  subitem.active ? subItemClassList.push(`${attributes.class}__sublist-item--active`) : ''
                li(class != subItemClassList)
                  if subitem.href
                    a(href=`${subitem.href}`) !{subitem.name}
                  else
                    span !{subitem.name}
                  if subitem.sublist
                    ul(class != `${attributes.class}__sublist`)
                      each subitem2 in subitem.sublist
                        -
                          let subItem2ClassList = []
                          attributes.class != undefined ? subItem2ClassList.push(`${attributes.class}__sublist-item`) : ''
                          subitem2.active ? subItem2ClassList.push(`${attributes.class}__sublist-item--active`) : ''
                        li(class != subItem2ClassList)
                          a(href=`${subitem2.href}`) !{subitem2.name}
