html
  --body-background-color #f9f7f4

  --font-color #4e4e4e

  --font-color-secondary #636363

  --link-color #a2483d
  --link-color-hover #c45a45

  --link-secondary-color #7c776c
  --link-secondary-color-hover #3d3d3d

  --message-text-warning-color #ff8c00
  --message-text-success-color #006400

  --nav-background #101010

  --border-color #e7e7e8

  --marked-color-light #f2ede6
  --marked-color-medium #ebe6e0
  --marked-color-dark #a68b80
  --marked-content #fffaf2

  --viber url("../images/svg-sprites/socials.svg#viber")
  --whatsapp url("../images/svg-sprites/socials.svg#whatsapp")
  --telegram url("../images/svg-sprites/socials.svg#telegram")
  --instagram url("../images/svg-sprites/socials.svg#instagram")
  --facebook url("../images/svg-sprites/socials.svg#facebook")
  --vk url("../images/svg-sprites/socials.svg#vk")
  --bullit-big url("../images/svg-sprites/common.svg#triangle")
