mixin productBuy(settings = {})
  -
    const className = settings.material ? 'product-buy--material' : ''
  .product-buy(class=className)
    .product-buy__availability
      p: strong В наличии!
      if !settings.material
        .product-buy__available-icon отправим<br>сегодня
    .product-buy__count
      p: strong Количество
      .product-buy__value
        a(href='#' data-value-change='dec').product-buy__change.product-buy__change--dec
        input(type='number' min=1 value=1).product-buy__field
        a(href='#' data-value-change='inc').product-buy__change.product-buy__change--inc
    .product-buy__button.product-buy__button--inactive: a(href='#').btn Добавить в корзину
    span.product-buy__subscribe.btn: span Подписаться
