.product-buy
  display flex
  flex-wrap wrap
  justify-content space-between
  align-items center
  margin -(basePadding)

  @supports (display grid)
    display grid
    align-items end
    grid-column-gap (basePadding*4)
    grid-row-gap (basePadding*2)
    grid-template-areas 'availability count button'
    grid-template-columns 1fr min-content 2fr
    margin 0

    @media screen and (max-width point-m - 1)
      grid-template-areas 'availability count' 'button button' 'subscribe subscribe'
      grid-template-columns min-content auto

  &--material
    justify-content flex-start
    & ^[-1]__availability
      width 100%

      strong
        color var(--message-text-success-color)

  &__availability
    margin basePadding
    align-self center
    @supports (display grid)
      grid-area availability
      margin 0

    strong
      color var(--link-color-hover)
  &__available-icon
    margin-top (font-m/2)
    padding-right 5rem
    font-style italic
    color var(--link-secondary-color)
    background-image url('../images/svg-sprites/icons.svg#truck')
    background-repeat no-repeat
    background-position right center
    background-size 4rem
  &__count
    display flex
    flex-direction column
    align-items flex-start
    margin basePadding

    @supports (display grid)
      grid-area count
      margin 0

  &__value
    display flex
    justify-content center
    align-items center
    margin-top (basePadding/3*2)
  &__field
    display block
    line-height 1.5

    width 4rem
    padding (basePadding/3)
    text-align center
    border 1px solid var(--border-color)
    -moz-appearance textfield // @stylint ignore

    &::-webkit-outer-spin-button
    &::-webkit-inner-spin-button
      margin 0
      -webkit-appearance none // @stylint ignore

  a&__change
    display block
    width 1.5rem
    height 1.5rem
    background-repeat no-repeat
    background-position center
    border 2px solid var(--border-color)
    border-bottom 2px solid var(--border-color)
    opacity .5
    transition opacity .4s
    &:hover
    &:focus
      opacity .75
      transition none
    &:active
      opacity 1
      transition none
    &--dec
      margin-right .25rem
      background-image url('../images/svg-sprites/icons.svg#minus')
      background-size (basePadding/3*2)
    &--inc
      margin-left .25rem
      background-image url('../images/svg-sprites/icons.svg#plus')
      background-size .75rem
  &__button
    margin basePadding

    @supports (display grid)
      grid-area button
      margin 0

    .btn
      width 100%
      font-size font-xxl
    &--inactive
      .btn
        opacity .25
        filter grayscale(1)
        &:hover
          background-color var(--link-color)
          cursor default
  &__subscribe
    span
      width 100%
    @media screen and (max-width point-m - 1)
      grid-area subscribe
