import('sprites/*')
import('inlcudes/placeholder')
@import 'includes/variables'
@import 'includes/mixins'
@import 'includes/fonts'
@import 'includes/reset'

html
  color var(--font-color)
  font-size 16px
  font-family 'Fira Sans', sans-serif
  scroll-behavior smooth
  &.no-scroll
    overflow hidden
body
  background-color var(--body-background-color)
p
  font-size font-m
  line-height line-m
  parMargin()

h1
  font-size 2.125em
  line-height 1.29411765em
  position relative
  font-weight 500

h2
  font-size 1.625em
  line-height 1.385em
  position relative
  font-weight 500
  h1 + &
    margin-top .4375rem
  for item in parLike
    {item} + &
      margin-top 1.385em

h3
  font-size  1.25em
  position relative
  line-height 1.5em
  font-weight 500
  for item in parLike
    {item} + &
      margin-top 1.25em
  h2 + &
    margin-top .1875em
h4
  font-size  1.125em
  line-height 1.492em
  font-weight 500
  position relative
  for item in parLike
    {item} + &
      margin-top 3em
  h3 + &
    margin-top .25em
strong
b
  font-weight bold
mark
  background-color transparent
  color #ffb400
img
  max-width 100%
sub
  font-size font-xs
  vertical-align sub
sup
  font-size font-xs
  vertical-align super
a
  color var(--link-secondary-color)
  text-decoration underline
  transition color .2s
  &:hover
  &:focus
  &:active
    color var(--link-secondary-color-hover)
    transition none
  &.link-secondary
    color var(--link-secondary-color)
    &:hover
    &:focus
    &:active
      color var(--link-secondary-color-hover)
  &[href^='#']
    text-decoration none
    border-bottom 1px dotted
    @supports (text-decoration-style dotted) or (-webkit-text-decoration-style dotted)
      text-decoration underline
      text-decoration-style dotted
      border-bottom none
.page
  display flex
  flex-direction column
  min-height 100vh
main
  flex-grow 1
.container
  display flex
  justify-content center
.content
  max-width containerWidth
  width 100%
  padding-x (basePadding)
.hidden-hd
  @media screen and (min-width point-hd)
    display none
.hidden-xl
  @media screen and (min-width point-xl) and (max-width point-hd - 1)
    display none
.hidden-l
  @media screen and (min-width point-l) and (max-width point-xl - 1)
    display none
.hidden-m
  @media screen and (min-width point-m) and (max-width point-l - 1)
    display none
.hidden-s
  @media screen and (min-width point-s) and (max-width point-m - 1)
    display none
.hidden-xs
  @media screen and (max-width point-s - 1)
    display none
.no-break
  white-space nowrap
.text-align
  &--center
    text-align center

@import "../blocks/img/img"
@import "../blocks/breadcrumbs/breadcrumbs.styl"
@import "../blocks/grid/grid.styl"
@import "../blocks/block-marked/block-marked.styl"
@import "../blocks/header/**/*"
@import "../blocks/footer/**/*"
@import "../blocks/iframe-responsive/iframe-responsive.styl"
@import "../blocks/logo/logo"
@import "../blocks/page-section/page-section.styl"
@import "../blocks/page-subsection/page-subsection.styl"
@import "../blocks/pagination/pagination.styl"
@import "../blocks/text-marked/text-marked.styl"
@import "../blocks/list-marked/list-marked.styl"
@import "../blocks/list-numbered/list-numbered.styl"
@import "../blocks/btn/btn.styl"
@import "../blocks/link-icons/link-icons.styl"
@import '../blocks/form-input'
@import '../blocks/form'
@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css'
@import '../blocks/appointment'
@import '../blocks/banner-schedule'
