include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/iframe-responsive/iframe-responsive

+blockMarked({bigPadding:true}).block-marked-whatis
  +blockMarkedContent({marked:true})
    +grid({paddingy:true})
      +cell({m:6,xs:12})
        p: +textMarked Замещение волос (реплейсмент) – это наиболее эффективный способ решения проблемы облысения.
        p Способ заключается в 
          strong подборе и фиксации
          |  на коже головы 
          strong системы волос
          |  – натурального волосяного покрова на тончайшей основе.
        p Система волос изготовлена из 
          strong натуральных волос
          | . Она свободно пропускает воздух, что позволяет коже головы дышать. Основа изделия – тончайшая сеточка, на которую вручную привязан каждый волосок. Она 
          strong крепко фиксируется
          |  на коже с помощью полимеров и совершенно 
          strong незаметна
          |  для окружающих.
      +cell({m:6,xs:12})
        p: strong Как проходит установка системы
        br
        +youtubeResponsive('EHEtnVujZKI')
      +cell({xs:12})
          p: +textMarked({type:'italic'}) Метод обеспецивает 100% реалистичность и естественный внешний вид.
