.footer
  margin-top 3.5rem
  font-size font-s 
  &__inner
    padding-top (basePadding*2)
    border-top 2px solid var(--border-color)
  &__top
    h2:first-child
      margin-bottom 1.25rem
  &__contacts
    color var(--font-color-secondary)
    @media screen and (min-width point-m)
      padding-left (basePadding*2)
      border-left 2px solid var(--border-color)
    @media screen and (max-width point-m - 1)
      padding-top (basePadding*2)
  &__phone
    margin-bottom 1rem
    font-size 2.5rem
    font-weight 500
    line-height 1.25
    white-space nowrap
  &__bottom
    display flex
    justify-content space-between
    flex-wrap wrap
    margin-x -(basePadding/2)
    margin-top (basePadding*2)
    padding-bottom (basePadding/2*3)
    color var(--font-color-secondary)
    & > * // @stylint ignore
      padding (basePadding/2)
    & a
      color var(--link-color)
      &:hover
        color var(--link-color-hover)
  &__advertising
    display flex
    align-items center
    align-self flex-start
    min-height 2rem
    margin-top (basePadding/2)
    padding-y 0
    padding-left 3rem
    background-image  url("../images/svg-sprites/common.svg#medreclama")
    background-repeat no-repeat
    background-position left center
    background-size auto 2rem
