include footer-menu/footer-menu
include ../grid/grid

footer.footer.container
  .content.footer__inner
    +grid
      +cell({m:8,xs:12})
        .footer__menu
          -
            const menus = [
              {
                header: {text: 'Каталог товаров', link: true},
                list: ['Женские системы','Мужские системы','Детские системы','Материалы'],
              },
              {
                header: {text: 'О магазине париков', link: true},
                list: ['Как заказать?','Доставка и оплата','Гарантии'],
              },
              {
                header: {text: 'Помощь в подборе системы'},
                list: ['Тест: Какая система мне подойдет?','Как выбрать размер?','Как подобрать цвет?'],
              },
            ]
          +grid({'padding-y': true})
            each menu in menus
              +cell({m:4,xs:6})
                +footerMenu(menu)
      +cell({m:4,xs:12})
        .footer__contacts
          p Интернет-магазин систем волос
          include footer-phone/footer-phone
          include footer-socials/footer-socials
          p Москва,  Средний Тишинский пер., д. 10
      +cell({m:8,xs:12})
        .footer__bottom
          .footer__copy
            | &copy;&nbsp;Hairsystems 2006&nbsp;&mdash; 2020
            br
            a(href='') Соглашения на обработку персональных данных
          .footer__advertising
            div
              a(href='http://www.medreclama.ru/' target='_blank') Медицинский&nbsp;маркетинг
              | &nbsp;&mdash; агентство&nbsp;&laquo;Medreclama&raquo;
