.list-numbered
  @extend p

  padding-left (basePadding*2)

  & + &
  p + &
  .list-marked + &
  .table + &
  .figure + &
    margin-top 1rem
  h1 + &
    margin-top 1rem
  h2 + &
    margin-top .5625rem
  h3 + &
    margin-top .3125rem
  h4 + &
    margin-top .125rem
  &--w-prev-par // для списка, связанного с предыдущим абзацем
    p + &
      margin-top 0
  > li
    margin-bottom (font-m/4)
    list-style decimal
  &--big-numbers
    padding-left 0
    counter-reset numbers // @stylint ignore

    & > li
      display flex
      align-items center
      margin-bottom font-xl
      list-style none
      counter-increment numbers // @stylint ignore
      &::before
        content counter(numbers)
        align-self flex-start
        margin-right basePadding
        font-size (font-m*2)
        color var(--marked-color-dark)
      &:last-child
        margin-bottom 0
