.before-after-item
  &__photos
    position relative
    &::before
      content ''
      position absolute
      top (basePadding/3*2)
      left 50%
      width 3rem
      height 1.5rem
      transform translateX(-50%)
      background-image var(--before-after-arrow)
  &__photo
    img
      display block
      width 100%
      border (basePadding/3*2) solid var(--marked-color-light)
  &__name
    margin-top basePadding
    font-size font-s
    font-weight 500
    text-align center
  &__description
    text-align center

    font-size font-s
    
