.product-colors
  &__list
    display flex
    flex-wrap wrap
    margin -(basePadding/4)
    margin-top (basePadding - (basePadding/4))
  &__item
    width 3.875rem
    margin (basePadding/8)

    a
      display block
      padding (basePadding/8)
      border-radius 50%

    img
      display block
      border-radius 50%

    &--active
      a
        border 1px solid var(--link-color)
  &__available
    font-size font-xxs
    text-align center
    color var(--message-text-success-color)
