.product-colors
  +grid({'padding-y': true, 'justify': 'space-between'})
    +cell: .product-colors__current
      strong Цвет:
      |  стальной блонд
    +cell: a(href='#color-tab') Как выбрать цвет
  .product-colors__list
    - let i = 0
    while i < 11
      if i == 9
        .product-colors__item.product-colors__item--active
          a(href='#'): img(src='https://dummyimage.com/120x120.jpg')
          if i % 3 == 0
            .product-colors__available В наличии
      else
        .product-colors__item
          a(href='#'): img(src='https://dummyimage.com/120x120.jpg')
          if i % 3 == 0
            .product-colors__available В наличии
      - i++
