.quick-buy-modal
  width 26rem
  max-width 100%
  padding basePadding
  border .5px var(--border-color) solid
  &__title
    margin-bottom 1.25rem
    font-size font-xl
  &__form
    display flex
    flex-wrap wrap
    margin-x -(basePadding)
    margin-top .75rem
    .form-input
    .btn
      margin-x basePadding
      margin-top .5rem
  &__agreement
    &.form-input
      margin-top basePadding
    .form-input
      &__label
        order 1
      &__field
        order 0
        width 2rem
        margin-right basePadding
