.quick-buy-modal
  .quick-buy-modal__title Заказать Perfecto
  p: strong Укажите номер телефона.
  p Перезвоним уточнить место доставки, выберем удобный способ оплаты, проконсультируем по товару.
  form.quick-buy-modal__form
    +formInput({type: 'tel', name: 'phone', placeholder: '+7 (___) ___-__-__', required: true})
    button(type='submit').btn Заказать
    +formInput({type: 'checkbox', name: 'agreement',id:'agreement', checked:true, required: true, label:['Нажимая на кнопку, я даю свое ', {tag: 'a', attr:{href:''}, content:'согласие на обработку своих персональных данных'}]}).quick-buy-modal__agreement
