include /blocks/img/img

.home-header
  h1 Cистемы волос высочайшего качества с гарантией
  +grid({'align':'center'})
    +cell({m:4,s:6,xs:12})
      .home-header__image
        +img({
          name: 'home-header',
          path: '/images/',
          formats: [
            { ext: 'jpg', mime: 'image/jpeg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { name: 'xs', values: [ 2 ] },
            { name: 'l', values: [ 2 ] },
          ]
        })(alt='Cистемы волос высочайшего качества с гарантией' width='900' height='900')
    +cell({m:8,s:6,xs:12})
      +pageSubsection
        +grid({'padding-y': true}).home-header__list
          +cell({m:6, xs:12}).home-header__list-item: +textMarked Большой выбор систем в&nbsp;наличии
          +cell({m:6, xs:12}).home-header__list-item: +textMarked Консультируем и&nbsp;подбираем системы удаленно
          +cell({m:6, xs:12}).home-header__list-item: +textMarked Обучим самостоятельной установке и&nbsp;уходу
      +pageSubsection
        +grid().home-header__button
          +cell({m:6, xs:12}): a(href='').btn Подобрать систему
