.home-header
  padding-top (basePadding*3)
  padding-bottom (basePadding*2)

  h1
    margin-bottom (basePadding*2.5)
  &__list
    margin-top (basePadding*2)
  &__list-item
    position relative
    display block
    padding-left (basePadding*3)
    &::before
      content ''
      position absolute
      top basePadding
      left basePadding
      width 1rem
      height 2rem
      background-image var(--bullit-big)
      background-repeat no-repeat
      background-position center
      background-size auto 2rem
  .text-marked
    font-size font-xxl
    line-height 1.5
  &__button
    margin-top (basePadding*4)
    .btn
      width 100%
      text-align center
  &__image
    position relative
    margin-right basePadding
    margin-left (basePadding*2)

    img
      display block
    &::after
      content ''
      position absolute
      top (basePadding*2)
      right (basePadding*2)
      z-index -1
      width 100%
      height 100%
      border basePadding solid var(--marked-color-medium)
