.tabs
  parMargin()
  &__labels
    display flex
    flex-wrap wrap
    margin-x -(basePadding/3)
    margin-bottom 0

    @supports (display grid)
      display grid
      grid-column-gap (basePadding/3*2)
      grid-template-columns repeat(5, 1fr)
      margin-x 0
      & ^[-1]__label
        margin-x 0
      @media screen and (max-width point-m - 1)
        grid-template-columns repeat(2, 1fr)
      @media screen and (max-width point-s - 1)
        grid-template-columns 1fr
  &__label
    margin (basePadding/3)
    margin-bottom 0
    padding (basePadding/2) (basePadding*2)
    text-align center
    background-color var(--marked-color-light)
    border 2px solid transparent
    cursor pointer
    &--active
      position relative
      font-weight 500
      color var(--font-color-secondary)
      background-color var(--body-background-color)
      border 2px solid var(--marked-color-medium)
      border-bottom none
      cursor default
      &::after
        content ''
        position absolute
        bottom -2px
        left 0
        width 100%
        height 2px
        background-color var(--body-background-color)
      @supports (text-decoration-style dashed)
        text-decoration none
        border-bottom none
  &__item
      display none
      padding (basePadding*2) basePadding
      border 2px solid var(--marked-color-medium)
      &--active
        display block
