extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/profile-item/profile-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Мой кабинет'})
      h1 Персональный раздел
      +pageSection
        -
          let items = [
            {name: 'Текущие заказы', icon: 'current-orders', href: 'orders-current.html'},
            {name: 'Личные данные', icon: 'user', href: 'personal.html'},
            {name: 'История заказов', icon: 'orders', href: 'orders-history.html'},
            {name: 'Профили заказов', icon: 'profiles', href: ''},
            {name: 'Корзина', icon: 'cart', href: 'cart.html'},
          ]
        +grid({'padding-y':true})
          each item in items
            +cell({m:3,s:4,xs:12})
              +profileItem(item)
block end
  +style('account')
