extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/cart-table/cart-table

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Корзина'})
      +pageSection
        h1 Корзина
        +pageSubsection
          -
            const cart = [
              {
                image: 'https://dummyimage.com/200x300',
                name: 'Модель 1',
                deleted: true,
                price: 0,
              },
              {
                image: 'https://dummyimage.com/200x300',
                name: 'Модель 2',
                color: 613,
                quantity: 1,
                price: 50000,
                availability: true,
              },
              {
                image: 'https://dummyimage.com/200x300',
                name: 'Модель 3',
                color: 18,
                quantity: 2,
                price: 60000,
              },
            ]
          +cartTable(cart)
block end
  +style('cart')
