extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/question/question
   
block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents: ['Главная', 'Замещение волос'], current:'Частые вопросы'})
      +pageSection
        h1 Частые вопросы
        +blockMarked({'padding': 'small'})
          +grid({'padding-y': true})
            -
              const links = [
                  'О системе: характеристики и преимущества',
                  'Стрижка, прическа, покраска и подгонка',
                  'Фиксация и перефиксация системы',
                  'Срок службы и уход',
                  'Ношение и образ жизни',
              ]
            each item in links
              +cell: a(href = '/') !{item}
        h2 О системе: характеристики и преимущества
        +question({title: 'Чем отличается система от парика?', id: 'question-1'})
          ul.list-marked
            li Другое ключевое отличие - основа hair system. Как правило, она тончайшая, а в месте пробора выглядит максимально реалистично. На нее фиксируют натуральные волосы высокого качества. Принцип крепления волосков создает впечатление, что они растут словно из кожи головы. 
            li Отличие от парика и в способе фиксации: систему волос крепим на ленты, скотч или клей таким образом, что она прочно фиксируется к коже головы на срок до 1 месяца и более. 
            li Парик же - аналог шапочки, не всегда идеален по размерам, да и его способ фиксации может подвести. К тому же на париках можно создавать далеко не все прически.
        +question({title: 'Будет ли видна основа системы?', id: 'question-2'})
          ul.list-marked
            li В случае системы волос с основой “тонкий силикон” она практически незаметна, особенно фронтальная линия. Система с основой “силикон” и “силикон с сеткой” будет иметь ограничения в типах стрижки, чтобы оставаться незаметной. 
            li Наши системы созданы по прогрессивным технологиям из материалов ведущих брендов: они в полной мере имитируют кожу головы, волосы же не отличить от ваших собственных. 
            li К тому же наши стилисты помогут придать системе совершенный вид: создадут наиболее подходящую прическу, с помощью которой вы будете выглядеть еще естественнее. 
        +question({title: 'Насколько удобна система?', id: 'question-3'})
          ul.list-marked
            li Система волос очень удобна. Во-первых, систему можно носить постоянно и вести привычный образ жизни (мыться, купаться, спать). Во-вторых, система прочно держится, поэтому можно не боятся, что она отклеится. В-третьих, использование натуральных волос делает ее приятной на ощупь. В-четвертых, систему можно подобрать четко по форме головы, чтобы она повторяла рельеф.
        +question({title: 'Из чего состоит основа системы волос?', id: 'question-4'})
          ul.list-marked
            li Наши системы волос имеют разные основы: на выбор большое разнообразие сеток или силикона (полиуретана). 
        +question({title: 'Кто производитель?', id: 'question-5'})
          ul.list-marked
            li Специализированная фабрика, которая имеет производство с международным рынком сбыта и находится в Китае.
        +question({title: 'Какие волосы используются? Какое качество?', id: 'question-6'})
          ul.list-marked
            li Системы делаются из качественных натуральных азиатских волос в европейской обработке. Азиатские волосы более толстые и крепкие. Возможно изготовление системы из славянских волос, но это будет дороже из-за большой стоимости волос. Волосы приобретаются и подбираются отдельно. И это исключительно для индивидуальных заказов.
        +question({title: 'Что происходит с волосами, которые растут под системой?', id: 'question-7'})
          ul.list-marked
            li Система не препятствует росту ваших волос. Ваши волосы будут отрастать под системой волос естественным образом. При необходимости их можно укорачивать во время процедуры перефиксации.
block end
  +style('questions')
