extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Главная', 'О магазине'],current:'Доставка и оплата'})
      +pageSection
        h1 Доставка и оплата
        h2 Доставка
        h3 Москва
        p Доставка в&nbsp;Москву осуществляется курьерской службой &laquo;Курьер сервис экспресс&raquo;.
        p Cрок доставки 1-2 рабочих дня, отправка в&nbsp;день заказа при оплате до&nbsp;13.00.
        p: strong Стоимость&nbsp;&mdash; 585&nbsp;руб.
        h3 Доставка по&nbsp;России
        p Отправляем транспортной компанией КСЭ.
        p: strong Стоимость: от&nbsp;520 до&nbsp;1150&nbsp;руб.
        p Стоимость и&nbsp;скорость доставки зависит от&nbsp;удаленности города от&nbsp;Санкт-Петербурга.
        p Срок доставки и&nbsp;стоимость рассчитывается автоматически в&nbsp;корзине при оформлении заказа. Для расчета укажите ваш город и&nbsp;выберите способ доставки &laquo;Транспортной компанией (курьер)&raquo;.
        p В&nbsp;день доставки курьер позвонит и&nbsp;согласует время.
        h2 Оплата
        p Принимаем оплату на сайте в режиме онлайн.
        h3 Способы онлайн оплаты
        -
          const paymentSystems = [
            {name: 'Банковские карты', list: ['mir.svg', 'mastercard.svg','visa.svg','apple-pay.svg']},
            {name: 'Электронные деньги', list: ['yandex.svg','webmoney.svg','qiwi.svg','eleksnet.svg']},
            {name: 'Терминалы', list: ['eleksnet.svg', 'qiwi.svg']},
            {name: 'Интернет-банкинг', list: ['alfa.jpg','russian-standard.png','vtb.svg','psbank.png','handybank.svg']},
            {name: 'Баланс телефона', list: ['beeline.svg','megafon.svg','mts.svg','tele2.svg']},
            {name: 'Наличными в салонах связи', list: ['svyaznoy.svg','euroset.png']},
          ]
        +grid({'padding-y': true, 'margin-top': true})
          each item in paymentSystems
            +cell({m:4,s:6,xs:12})
              h4 !{item.name}
              +grid({'padding-y': true, 'align': 'center'})
                each i in item.list
                  +cell({xs:3}): img(src='/images/payment-systems/'+i alt='')
      +pageSection
        +grid({'padding-y': true, 'margin-top': true})
          +cell({s:10,xs:12})
            include ../blocks/banner-robokassa/banner-robokassa
block end
  +style('about')
