extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/before-after/before-after
   
block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents: ['Главная'], current:'Фото до и после'})
      +pageSection
        h1 Фото до и после
        p Предлагаем вам наглядно убедиться в&nbsp;преимуществах системы замещения волос. На&nbsp;этой странице добавлены фото системы волос: до&nbsp;и&nbsp;после использования hair system.
        p Только посмотрите, как сильно изменилась внешность наших клиентов!
        +blockMarked({'padding':'medium','marginTop': true})
          +blockMarkedContent({'marked': true, 'lifted': true}): +textMarked: p После использования системы замещения волос они стали выглядеть не&nbsp;только солиднее и&nbsp;привлекательнее, но&nbsp;и&nbsp;на&nbsp;несколько лет моложе. Более того, существенно изменилось качество жизни этих людей. Они стали успешнее практически во&nbsp;всех сферах жизни.
        p И&nbsp;в&nbsp;этом нет ничего удивительного, ведь система замещения волос позволяет осуществить главную мечту&nbsp;&mdash; вернуть былую красоту.
        -
          const beforeAfter = {
            items: [
              {
                images:{
                  before:'https://dummyimage.com/1024x1024.jpg',
                  after:'https://dummyimage.com/1024x1024.jpg',
                },
                name:'Всеволод',
                desc:'андрогенная алопеция'
              },
              {
                images:{
                  before:'https://dummyimage.com/1024x1024.jpg',
                  after:'https://dummyimage.com/1024x1024.jpg',
                },
                name:'Александр',
                desc:'андрогенная алопеция'
              },
              {
                images:{
                  before:'https://dummyimage.com/1024x1024.jpg',
                  after:'https://dummyimage.com/1024x1024.jpg',
                },
                name:'Анастасия',
                desc:'очаговая алопеция(частичное облысение на макушке-гнездное облысение)'
              },
            ]
          }
        +beforeAfter(beforeAfter)
block end
  +style('before-after')
