extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Главная', 'О магазине'],current:'Гарантии'})
      +pageSection
        h1 Гарантии
        p Мы&nbsp;понимаем, что удаленная покупка изделия из&nbsp;волос сопряжена с&nbsp;трудностями в&nbsp;подборе размера, цвета, структуры, так как эти параметры очень индивидуальны, а&nbsp;по&nbsp;фотографии изделия не&nbsp;всегда можно точно определить, подходит вам оно или нет. Именно поэтому мы&nbsp;обеспечиваем 
          strong возможность возврата или обмена изделия
          | .
        p Гарантия действует в&nbsp;течение 
          strong двух недель
          |  с&nbsp;момента получения вами оплаченного изделия. На&nbsp;изделии должна быть сохранена фирменная бирка. Вы&nbsp;можете вернуть нам изделие, если оно не&nbsp;подошло вам по&nbsp;размеру и&nbsp;цвету, и&nbsp;только в&nbsp;неиспользованном состоянии. Все затраты на&nbsp;денежные переводы и&nbsp;доставку несет покупатель.
