extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/product-item/product-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Готовые системы волос'})
      +pageSection
        h1 Готовые системы волос
        +pageSubsection
          include /blocks/catalog-filter/catalog-filter
          include /blocks/catalog-sort/catalog-sort
        +pageSubsection
          +grid({'padding-y': true})
            +cell({m:3,s:4,xs:6})
              +productItem({
                image: 'https://dummyimage.com/400x600.jpg',
                name: 'Aura | Длинная женская система волос на сетке на всю голову',
                price: '5000',
                discount: true,
              })
            - for ( i = 0; i < 12; i++)
              +cell({m:3,s:4,xs:6})
                +productItem({
                  image: 'https://dummyimage.com/400x600.jpg',
                  name: 'Aura | Длинная женская система волос на сетке на всю голову',
                  price: '5000',
                })
        +pageSubsection
          include /blocks/pagination/pagination 
        +pageSubsection({'centered': true})
          h2 Не нашли подходящий вариант?
          p Нужна другая модель, длина, структура волос, цвет или что-то еще?
          p: strong Изготовим систему под ваши индивидуальные требования!
        +pageSubsection({'centered': true})
          p: a(href='').btn Запишитесь на онлайн консультацию 
block end
  +style('products')
