extends /blocks/layout/layout

include /blocks/feedback-list/feedback-list
include /blocks/before-after/before-after
include /blocks/list-advantages/list-advantages
include /blocks/list-sequence/list-sequence
include /blocks/text-marked/text-marked
include /blocks/product-item/product-item
include /blocks/block-marked-icon/block-marked-icon
include /blocks/iframe-responsive/iframe-responsive
include /blocks/discounts-slide/discounts-slide
include /blocks/slider/slider

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +blockMarked({color: 'dark', padding: 'small'})
    .container
      .content(style='text-align: center;')
        +blockMarkedContent({'marked': true}) 
          p: strong До 7 ноября работаем только в онлайн-режиме.
            br
            | Консультируем в WhatsApp и Viber по номеру +7 (921) 571-01-24.
  .container
    .content
      //- +pageSection 
      //-   include /blocks/banner-new-year/banner-new-year
      +pageSection
        include /blocks/home-header/home-header 

      +pageSection 
        h2.discounts-header Акции
        +pageSubsection
          .discounts-slider: .discounts-slider__slider
            .swiper-wrapper.discounts-slider__wrapper
              +discountsSlide({
                title: 'Антиперсперант NoSweat для кожи головы <mark>в подарок</mark>',
                image: 'nosweet',
                href: '/materialy-dlya-fiksatsii/kley/',
                countDate: '2023, 10, 01',
              }).swiper-slide
                p Получи подарок при покупке любых 3-х клеев Ghost Bond 38 мл
              +discountsSlide({
                imageLeft: 'integration-1',
                deadline: 'До 31.08.2023',
                title: 'Скидка <mark>25%</mark>',
                clarification: 'Успей приобрести <br> <mark>с выгодой до 11 475 руб.</mark>',
                image: 'integration-2',
                href: '/catalog/systems/filter/cover_type-is-top/apply/',
              }).swiper-slide
                p на системы волос на верхнюю часть головы – Integration, Classic, Skin, Q6 #[br] #[small *в стоимость не входит стрижка и фиксация]
              +discountsSlide({
                deadline: 'До 31.08.2023',
                title: 'Скидка <mark>20%</mark>',
                clarification: '<strike>25 000 руб.</strike>  <span class="text-marked text-marked--font-weight-bold">20 000 руб.</span>',
                image: 'vs',
                href: '/catalog/systems/filter/cover_type-is-top/apply/',
              }).swiper-slide
                p на&nbsp;системы волос на&nbsp;верхнюю часть головы&nbsp;&mdash; VS, French skin #[br] #[small *в стоимость не входит стрижка и фиксация]
              +discountsSlide({
                title: 'Получи <mark>подарочный сертификат</mark>',
                clarification: 'Акция действует за 3 дня до <br> и 3 дня после дня рождения',
                image: 'discounts-slide-birthday',
              }).swiper-slide
                p номиналом <strong><mark>3000 рублей</mark> в&nbsp;день рождения</strong> при покупке изделия из&nbsp;натуральных волос!
              //- +discountsSlide({
              //-   title: 'Подарок для наших клиентов — <small>первая стрижка и фиксация бесплатно!</small>',
              //-   clarification: 'Успей приобрести систему волос «Интеграция» в октябре с выгодой до 3 000 руб.',
              //-   image: 'banner-free-haircut',
              //-   countDate: '2022, 11, 18',
              //-   countNum: '1',
              //- }).swiper-slide
              +discountsSlide({
                title: 'Скидки на системы до <mark>15%</mark>',
                clarification: 'Успей приобрести систему волос с выгодой до 19 700 руб!',
                image: 'discounts-slide-systems',
                countDate: '2023, 00, 31',
                countNum: '2',
              }).swiper-slide
                p При покупке системы волос на полный объём головы <strong>скидка <mark>15%</mark> + первая стрижка и фиксация или профессиональная <mark>косметика Estel /Tefia в подарок!</mark></strong>
              +discountsSlide({
                title: 'Стрижка и фиксация <mark>бесплатно</mark>',
                clarification: 'Успей приобрести систему волос с выгодой до 10 400 руб!',
                image: 'discounts-slide-haircut',
                countDate: '2023, 00, 31',
                countNum: '3',
              }).swiper-slide
                p При покупке системы на верхнюю часть головы <strong>скидка <mark>10%</mark> + первая стрижка и фиксация или профессиональная <mark>косметика Estel /Tefia в подарок!</mark></strong>
              +discountsSlide({
                title: 'Популярные модели',
                clarification: 'Экономия до 9 000 руб!',
                image: 'discounts-slide-popular',
                countDate: '2023, 00, 31',
                countNum: '4',
                href: '/catalog/',
              }).swiper-slide
                p <strong> <mark>-25%</mark> </strong> на модель SKIN <del>36 000 р.</del> → <strong> <mark>27 000 р.</mark> </strong>
                p <strong> <mark>-15%</mark> </strong> на модель INTEGRATION <del>33 000 р.</del> → <strong> <mark>28 000 р. </mark> </strong>
                p: strong: mark Установка и стрижка в подарок
              +discountsSlide({
                title: 'Скидки на&nbsp;ленточные фиксаторы&nbsp;<mark>10%</mark>',
                image: 'discounts-slide-fix',
                countDate: '2023, 06, 01',
                countNum: '2',
                href: '/materialy-dlya-fiksatsii/', 
              }).swiper-slide  
                p При покупке ленточных фиксаторов <strong>скидка <mark>10%</mark></strong>. 
              +discountsSlide({
                title: 'Скидки на системы до <mark>10%</mark>',
                clarification: 'Успей приобрести систему волос с выгодой до 19 700 руб!',
                image: 'discounts-slide-full',
                countDate: '2023, 06, 01',
                countNum: '2',
                href: 'https://hairsystems.ru/catalog/systems/filter/cover_type-is-full/apply/',
              }).swiper-slide  
                p При покупке системы волос на полный объём головы <strong>скидка <mark>10%</mark></strong>.

            button(type='button').discounts-slider__navigation.discounts-slider__navigation--prev
            button(type='button').discounts-slider__navigation.discounts-slider__navigation--next
            .discounts-slider__pagination

      +pageSection 
        +blockMarked
          +grid({paddingy:true})
            +cell({m:6,xs:12})
              h2 Что это такое?
              p: +textMarked Замещение волос (реплейсмент) – это наиболее эффективный способ решения проблемы облысения.
              p Способ заключается в 
                strong подборе и фиксации
                |  на коже головы 
                strong системы волос
                |  – натурального волосяного покрова на тончайшей основе.
              p Система волос изготовлена из 
                strong натуральных волос
                | . Она свободно пропускает воздух, что позволяет коже головы дышать. Основа изделия – тончайшая сеточка, на которую вручную привязан каждый волосок. Она 
                strong крепко фиксируется
                |  на коже с помощью полимеров и совершенно 
                strong незаметна
                |  для окружающих.
              p: +textMarked({type:'italic'}) Метод обеспецивает 100% реалистичность и естественный внешний вид.
            +cell({m:6,xs:12})
              h2 Как проходит установка системы
              br
              +youtubeResponsive('EHEtnVujZKI')

      +pageSection
        h2 В каких случаех подойдет замещение волос?
        +grid({'tag': 'ul', 'padding-y': true}).list-marked.list-marked--big
          +cell({'tag': 'li', m:6,xs:12}) андрогенная, очаговая, диффузная, тотальная алопеция
          +cell({'tag': 'li', m:6,xs:12}) ожоги кожи головы
          +cell({'tag': 'li', m:6,xs:12}) шрамы большого размера
          +cell({'tag': 'li', m:6,xs:12}) поредение и ослабленные волосы
      +pageSection
        +pageSubsection
          h2 Преимущества замещения волос
        -
          const advantages = [
            {title: 'Легкость и комфорт', text: 'Не ощущается на голове основа весит 10 г, позволяет дышать коже'},
            {title: 'Незаметно вблизи, выглядит максимально натурально', text: 'Во время интимной близости партнер не узнает о системе'},
            {title: 'Надежно фиксируется', text: ''},
            {title: 'Совершенно безопасно', text: 'Нет противопоказаний.  Экологичные материалы. Не повреждает родные волосы.'},
            {title: 'Позволяет менять имидж и стиль', text: 'Можно моделировать прическу, делать пробор в любом месте'},
            {title: 'Позволяет вести активный образ жизни', text: 'спорт, плавание, бег'},
            {title: 'Можно установить и использовать самостоятельно', text: ''},
            {title: 'Может быть временным решением', text: 'пока вы лечитесь'},
          ]
        +pageSubsection
          +listAdvantages(advantages)
      
      +pageSection 
        +pageSubsection({centered: true})
          h2.discounts-header Ищем моделей 
        +pageSubsection
          include /blocks/banner-model/banner-model

      +pageSection
        +pageSubsection({centered: true})
          h2 Хотите разобраться подробнее?
        +pageSubsection
          +grid({'justify':'center'})
            +cell({m:4,s:6,xs:12})
              a(href='').btn.btn--wide Изучите нашу статью
      +pageSection
        +pageSubsection
          h2 Наши системы
        +pageSubsection
          +grid({'padding-y': true, 'cols': 10, 'padding-big':'x'})
            +cell({m:6,xs:10})
              +grid({'padding-y': true})
                +cell(): h3 Для женщин
                +cell(): a(href='').btn-arrow подробнее
              +grid({'padding-y': true})
                -
                  const forWomen = [
                    {image: 'https://dummyimage.com/400x600.jpg', length: 'длина: 25 см', price: 'от 5000', alt: ''},
                    {image: 'https://dummyimage.com/400x600.jpg', length: 'длина: 35 см', price: 'от 5000', alt: ''},
                    {image: 'https://dummyimage.com/400x600.jpg', length: 'длина: 45 см', price: 'от 5000', alt: ''},
                  ]
                each item in forWomen
                  +cell({s:4, xs:6})
                    +productItem(item)
            +cell({m:4,xs:10})
              +grid({'padding-y': true})
                +cell(): h3 Для мужчин
                +cell(): a(href='').btn-arrow подробнее
              +grid({'padding-y': true})
                -
                  const forMen = [
                    {image: 'https://dummyimage.com/400x600.jpg', length: 'длина: 15 см', price: '21000', alt: ''},
                    {image: 'https://dummyimage.com/400x600.jpg', length: 'длина: 20 см', price: '21000', alt: ''},
                  ]
                each item in forMen
                  +cell({m:6,s:4,xs:6})
                    +productItem(item)
        +pageSubsection
          +blockMarkedIcon({padding: 'medium'}): +textMarked Вы можете приобрести систему волос и установить ее самостоятельно. Зафиксировать систему не сложно. Мы обучим фиксации и уходу в домашних условиях, будем бесплатно консультировать. Дадим пошаговые видео инструкции.
      +pageSection
        +pageSubsection({centered: true})
          h2 Нет времени разбираться?
          p Узнайте, какая система вам подойдет!
        +pageSubsection
          +grid({'justify':'center'})
            +cell({m:4,s:6,xs:12})
              a(href='').btn.btn--wide Пройти тест
      +pageSection
        h2 Фото до и после
        -
          const beforeAfter = {
            items: [
              {
                images:{
                  before:'https://dummyimage.com/1024x1024.jpg',
                  after:'https://dummyimage.com/1024x1024.jpg',
                },
                name:'Всеволод',
                desc:'андрогенная алопеция'
              },
              {
                images:{
                  before:'https://dummyimage.com/1024x1024.jpg',
                  after:'https://dummyimage.com/1024x1024.jpg',
                },
                name:'Александр',
                desc:'андрогенная алопеция'
              },
              {
                images:{
                  before:'https://dummyimage.com/1024x1024.jpg',
                  after:'https://dummyimage.com/1024x1024.jpg',
                },
                name:'Анастасия',
                desc:'очаговая алопеция(частичное облысение на макушке-гнездное облысение)'
              },
            ]
          }
        +beforeAfter(beforeAfter)
      +pageSection
        h2 Отзывы
        -
          const homeFeedback = [
            {
              body: {tag:'p', content:'Четвертый год являюсь клиентом Центра дизайна волос. С первых посещений избавилась от комплексов, научилась жить с тем, что дано мне природой, приобрела тактичный и опытных консультантов. Чаще общалась с администратором Раисой и мастером Екатериной Смирновой. Все посещения салона оставили самые приятные воспоминания. Пусть салон работает долго и помогает нам решать наши, теперь уже незначительные проблемы.'},
              author: 'Ольга',
              photo: {src:'https://dummyimage.com/1024x1024.jpg', thumb:'https://dummyimage.com/196x196.jpg'},
            },
            {
              body: {tag:'p', content:'Благодарна центру дизайна волос и лично мастеру Богдановой Ирине за избавление от проблем связанных с алопецией. Мне очень нравится изделие, которое фиксируется на голове ,заменяя свои редкие волосы, это удобно, практично, позволяет чувствовать себя легко и свободно, избавляет от комплексов, поскольку для женщин волосы играют очень важную роль в имидже.'},
              author: 'Людмила',
              about: {name:'Ирина Богданова', href:'/o-kompanii/personal/irina-bogdanova.html'},
            },
            {
              body: {tag:'p', content:'Мое утро было замечательным. В центре я была первый раз. И все сама увидела, потрогала и примерила. Столько способов решения своей проблемы нет нигде. Очаровательный администратор Раиса, все рассазала, показала и обьяснила. И просто поговорила по душам. Спасибо вам за понимание и поддержку.'},
              author: 'Любовь',
              mark: 'Дочка моя стала увереннее, активнее. У нее появилось много планов на жизнь, прибавилась энергия!',
            },
          ]
        +feedbackList(homeFeedback)
        p: a(href='').btn-arrow Все отзывы
      +pageSection()
        h2 Вопросы и ответы
        +pageSubsection
          +grid
            +cell({m:6, xs:12})
              h3 Насколько удобна система?
              p Система волос очень удобна. Во-первых, систему можно носить постоянно и вести привычный образ жизни (мыться, купаться, спать). Во-вторых, система прочно держится, поэтому можно не боятся, что она слезет. В-третьих, использование натуральных волос делает ее приятной на ощупь. В-четвертых, систему можно подобрать четко по форме головы, чтобы она повторяла рельеф.
              h3 Будет ли видна основа?
              p В случае системы волос с основой “тонкий силикон” она практически незаметна, особенно фронтальная линия. У системы с основой “силикон” и “силикон с сеткой” основа будет заметна только вблизи. Если вы носите прическу с открытым лбом или висками, то мы можем предложить вам вариант, который будет незаметен вблизи.
              h3 Смогу ли я сам зафиксировать систему?
              p Да, вы сможете выполнить фиксацию на ленту. Наш консультант подробно объяснит, как делать фиксацию, и предоставит подробную инструкцию, как самостоятельно делать перефиксацию. Мы продаем ленты и жидкий фиксатор.
            +cell({m:6, xs:12})
              h3 Как часто необходима перефиксация? Когда снимать?
              p Срок перефиксации зависит от способа крепления, а также от ухода, образа жизни, типа кожи, интенсивности потоотделения. Для способа крепления на ленты слабо степени фиксации - 1-3 дня, для лент сильной степени фиксации - через 2 недели, для клея в среднем перефиксация необходима через 4-6 недель.
              h3 Какие волосы используются? Какое качество?
              p Системы делаются из качественных натуральных азиатских волос. Азиатские волосы более толстые и крепкие, чем другие типы волос.
              h3 Что можно делать в системе волос?
              p В системе можно спать, мыться и ходить в баню, плавать и заниматься активным спортом.
      +pageSection
        +pageSubsection({centered: true})
          h2 Остались вопросы?
          p: a(href='').btn.btn--wide Получить бесплатную онлайн консультацию
      +pageSection
        h2 Как заказать?
        +pageSubsection
          +listSequence([
            {title: 'Консультация', text: [
              {tag: 'p', content: 'Оставьте заявку на&nbsp;консультацию, позвоните или напишите нам в&nbsp;любой из&nbsp;мессенджеров.'},
              {tag: 'p', content: [
                'Вы&nbsp;можете самостоятельно разобраться, что такое система волос, подойдет&nbsp;ли она вам и&nbsp;как ее&nbsp;подобрать с&nbsp;помощью нашего <a href="/">теста</a>.',
              ]},
            ]},
            {title: 'Подбор параметров', text: [
              {tag: 'p', content: 'Вы&nbsp;подбираете основу, размер, цвет и&nbsp;длину волос.'},
              {tag: 'p', content: 'Дадим пошаговые инструкции по&nbsp;подбору.'},
            ]},
            {title: 'Выбор системы', text: {tag: 'p', content: 'В&nbsp;нашем каталоге вы&nbsp;сможете найти систему волос по&nbsp;любым параметрам, которая будет идеально подходить вам.'}},
            {title: 'Оформление заказа', text: {tag: 'p', content: 'После заказа и&nbsp;оплаты системы мы&nbsp;свяжемся с&nbsp;вами для уточнения удобного способа доставки.'}},
          ])
      +pageSection
        h2 О нашем магазине
        +pageSubsection
          +grid({'padding-y': true})
            +cell({s:6,xs:12})
              +slider({ pagination: true }).home-about
                +slide.home-about__slide.home-about__slide--video
                  video(playsinline controls preload="auto" poster='/images/office-0.webp')
                    source(src='https://hairsystems.ru/video/office-0.mp4' type='video/mp4')
                    source(src='https://hairsystems.ru/video/office-0.webm' type='video/webm')
                +slide.home-about__slide
                  img(src='https://dummyimage.com/1124x843.jpg' alt='')
            +cell({s:6,xs:12})
              -
                const about = [
                  {title: 'Более 18&nbsp;лет работы', text: [
                    {tag: 'p', content: 'За&nbsp;годы работы мы&nbsp;накопили огромный опыт, знаем все особенности выбора систем волос.'},
                    {tag: 'p', content: 'Наши консультанты&nbsp;&mdash; эксперты в&nbsp;замещении волос и&nbsp;помогут разобраться в&nbsp;любых сложностях.'},
                  ], sizes: {xs:12}},
                  {title: 'Лучшая цена в&nbsp;России', text: 'У&nbsp;нас есть прямой договор с&nbsp;фабрикой-изготовителем, потому мы&nbsp;можем предложить изделия за&nbsp;лучшую стоимость.', sizes: {xs:12}},
                  {title: 'Качество', text: 'За&nbsp;время работы мы&nbsp;проверили изделия множества фабрик и&nbsp;выбрали лучшего по&nbsp;качеству производителя систем волос.', sizes: {xs:12}},
                ]
              +listAdvantages(about)
      +pageSection
        h2 Получить бесплатную консультацию
        include /blocks/home-free-consultation/home-free-consultation
block end
  +style('home')
