extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Главная', 'Замещение волос'],current:'Инструкции'})
      +pageSection
        h1 Инструкции
        +pageSection
          +grid()
            +cell({s:9, xs:12})
              h2: a(href='/kak-fiksirovat-sistemu-volos.html') Как фиксировать систему волос
              p Если вам необходима постоянная фиксация и частичное замещение - выберите клей, который будет надежно удерживать систему на месте в течение 3-5 недель. Предпочтите скотч в следующих случаях: систему надо часто снимать, нужно регулировать степень фиксации, у вас тотальная алопеция. 
              h2: a(href='/kak-snimat-sistemu-volos.html') Как снимать систему волос
              p Для процедуры приготовьте:
              ul.list-marked.list-marked--w-prev-par
                li ватные палочки и диски,
                li спирт,
                li гель-эксфолиант.
              h2: a(href='/kak-ukhazhivat-za-sistemoy-volos.html') Как ухаживать за системой волос?
              p Правильный уход увеличит срок службы системы на 45-70%, и подарит вам максимум комфорта от ее использования. 
              h2: a(href='/kak-vybrat-razmer.html') Как выбрать размер?
              h2: a(href='/kak-podobrat-tsvet.html') Как подобрать цвет?
