extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Главная', 'Замещение волос','Инструкции'],current:'Как фиксировать систему волос'})
      +pageSection
        h1 Как фиксировать систему волос
        +pageSection
          +grid()
            +cell({s:9, xs:12})
              p Если вам необходима постоянная фиксация и частичное замещение — выберите клей, который будет надежно удерживать систему на месте в течение 3-5 недель. Предпочтите скотч в следующих случаях: систему надо часто снимать, нужно регулировать степень фиксации, у вас тотальная алопеция. 
              p Что необходимо для процедуры:
              ul.list-marked.list-marked--w-prev-par
                li бритва,
                li пенка, гель для бритья,
                li спирт,
                li 2 зеркала,
                li специальный скотч или клей.
              h2#fixation-glue Основные этапы фиксации на клей
              ol.list-numbered
                li Подготовьте систему волос. Если уже ранее использовали ее, удалите остатки старого фиксатора, вымойте и высушите ее. Обезжирьте спиртом основу, в участках будущей фиксации.
                li Сбрейте волосы в участке крепления hair system, обезжирьте кожу головы спиртом. Оставшиеся волосы соберите в хвост, а по краям зажмите невидимками.
                  +grid
                    +cell({m:4,xs:12}): img(src='/images/instruktsii/kak-fiksirovat-sistemu-volos/kak-fiksirovat-sistemu-volos-2.jpg' alt='Подготовка кожи головы' title='Подготовка кожи головы')
                li Распределите клей тонким слоем в зоне крепления. Как только он подсохнет за пару минут, станет прозрачным, прижмите систему волос на 20-30 секунд. 
                  +grid
                    +cell({m:4,xs:12}): img(src='/images/instruktsii/kak-fiksirovat-sistemu-volos/kak-fiksirovat-sistemu-volos-3.jpg' alt='Нанесение клея' title='Нанесение клея')
                    +cell({m:4,xs:12}): img(src='/images/instruktsii/kak-fiksirovat-sistemu-volos/kak-fiksirovat-sistemu-volos-4.jpg' alt='Установка системы волос' title='Установка системы волос')
                    +cell({m:4,xs:12}): img(src='/images/instruktsii/kak-fiksirovat-sistemu-volos/kak-fiksirovat-sistemu-volos-5.jpg' alt='Установка системы волос' title='Установка системы волос')

              h2#fixation-adhesive Основные этапы фиксации на скотч
              ol.list-numbered
                li Если использовали hair system ранее, снимите старый скотч, очистите систему или вымойте, обезжирьте основу спиртосодержащей жидкостью. 
                li Сбрейте волосы в зоне будущей фиксации, обезжирьте кожу головы спиртом. Остальные волосы соберите в хвост, а по краям закрепите их заколками. 
                  +grid
                    +cell({m:4,xs:12}): img(src='/images/instruktsii/kak-fiksirovat-sistemu-volos/kak-fiksirovat-sistemu-volos-2.jpg' alt='Подготовка кожи головы' title='Подготовка кожи головы')
                li Отрежьте полосочки 7-10 см, не удаляя защитную пленку, присоедините по периметру hair system. Фиксировать начинайте с краевой линии в участке лба, двигаясь к затылку и попутно отсоединяя защитную полосу. После плотно прижмите изделие к голове.
                  +grid
                    +cell({m:8,xs:12}): img(src='/images/instruktsii/kak-fiksirovat-sistemu-volos/kak-fiksirovat-sistemu-volos-6.jpg' alt='Приклеивание скотча к системе волос' title='Приклеивание скотча к системе волос')
                    +cell({m:4,xs:12}): img(src='/images/instruktsii/kak-fiksirovat-sistemu-volos/kak-fiksirovat-sistemu-volos-7.jpg' alt='Приклеивание скотча к системе волос' title='Приклеивание скотча к системе волос')

              p Расчесывание и укладку волос можно начинать спустя 10 минут от момента фиксации. А вот мочить голову можно будет не ранее, чем через 24 часа (лучше подождать двое суток).
