extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Главная', 'Замещение волос','Инструкции'],current:'Как выбрать размер?'})
      +pageSection
        h1 Как выбрать размер?
        +pageSection
          +grid()
            +cell({s:9, xs:12})
              +pageSubsection
                h2 Для систем на всю голову
                +grid({'justify': 'center', 'margin-top': true, 'padding-y': true, 'justify': 'space-between'})
                  +cell({m:8, s:10, xs:12})
                    p Чтобы определить правильный размер окружности головы, оберните ленту — сантиметр на расстоянии 1,5-2,5 сантиметра выше бровей, немного выше ушей и в той точке на затылке, которая дает вам наибольшую длину окружности. Измерьте голову несколько раз, чтобы избежать ошибок.
                    p Прикладывайте метр наиболее плотно – система должна сидеть четко, а не болтаться взад-вперед. Если округляете – то только в большую сторону.
                    p
                      | XS - 50 см
                      br
                      | S - 52 см
                      br
                      | M - 54 см
                      br
                      | L - 56 см
                      br
                      | XL - 58 см
                  +cell({m:3, s:2, xs:6}): img(src='/images/head-measuring.svg' alt='Как выбрать замер системы?')
              +pageSubsection
                h2 Для систем на верхнюю часть головы
                +grid({'justify': 'center', 'margin-top': true, 'padding-y': true})
                  +cell({m:7, s:8, xs:12})
                    p Чтобы определить длину, приложите ленту-сантиметр одним концом к линии роста волос над лбом, а другим концом к линии роста волос на шее.
                    p Чтобы определить ширину, приложите ленту-сантиметр одним концом к линии роста волос за одним ухом, а другим концом к линии роста волос за другим ухом.
                  +cell({m:5, s:4, xs:6}): img(src='/images/head-measuring-2.svg' alt='Как выбрать замер системы?')
