extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Главная', 'Замещение волос','Инструкции'],current:'Как снимать систему волос'})
      +pageSection
        h1 Как снимать систему волос
        +pageSection
          +grid()
            +cell({s:9, xs:12})
              p Для процедуры приготовьте:
              ul.list-marked.list-marked--w-prev-par
                li ватные палочки и диски,
                li спирт,
                li гель-эксфолиант.
              h2 Порядок снятия системы, зафиксированной на клей
              ol.list-numbered
                li
                  | На ватную палочку нанесите растворитель, проведите ею по краевой линии в зоне лба до момента, пока края системы не начнут отсоединяться от кожи. Если уже наступило время перефиксации, край системы очень легко начнет приподниматься.
                  +grid
                    +cell({m:6,xs:12}): img(src='/images/instruktsii/kak-snimat-sistemu-volos/kak-snimat-sistemu-volos-1.jpg' alt='Нанесение растворителя' title='Нанесение растворителя')
                li
                  | Продолжайте отклеивать hair system от кожи головы, нанося растворитель в стык между кожей и основой.
                  +grid
                    +cell({m:6,xs:12}): img(src='/images/instruktsii/kak-snimat-sistemu-volos/kak-snimat-sistemu-volos-2.jpg' alt='Распределение растворителя у краевой линии' title='Распределение растворителя у краевой линии')
                li
                  | Придерживая край изделия, снимите его без резких рывков.
                  +grid
                    +cell({m:6,xs:12}): img(src='/images/instruktsii/kak-snimat-sistemu-volos/kak-snimat-sistemu-volos-3.jpg' alt='Постепеное снятие изделия' title='Постепеное снятие изделия')
                li
                  | Очистите кожу головы спиртом (или растворителем), нанесите на нее тонкий слой геля-эксфолианта (скраб), помассируйте очищенный участок 2 минуты. Оставьте средство еще на 5 минут. Затем смойте, вытрите полотенцем.
                  +grid
                    +cell({m:6,xs:12}): img(src='/images/instruktsii/kak-snimat-sistemu-volos/kak-snimat-sistemu-volos-4.jpg' alt='Мытье кожи головы и чистка' title='Мытье кожи головы и чистка')
                li
                  | Освободите основу системы волос от остатков клея. 
                  +grid
                    +cell({m:6,xs:12}): img(src='/images/instruktsii/kak-snimat-sistemu-volos/kak-snimat-sistemu-volos-5.jpg' alt='Нанесенный растворитель на основу системы' title='Нанесенный растворитель на основу системы')
                    +cell({m:6,xs:12}): img(src='/images/instruktsii/kak-snimat-sistemu-volos/kak-snimat-sistemu-volos-6.jpg' alt='Очистка основы' title='Очистка основы')
                    +cell({m:6,xs:12}): img(src='/images/instruktsii/kak-snimat-sistemu-volos/kak-snimat-sistemu-volos-7.jpg' alt='Основа с растворителем до смывания' title='Основа с растворителем до смывания')
                li
                  | Вымойте изделие, следуя правилам ухода. 
                  +grid
                    +cell({m:6,xs:12}): img(src='/images/instruktsii/kak-snimat-sistemu-volos/kak-snimat-sistemu-volos-8.jpg' alt='Мытье волос в изделии' title='Мытье волос в изделии')
                    +cell({m:6,xs:12}): img(src='/images/instruktsii/kak-snimat-sistemu-volos/kak-snimat-sistemu-volos-9.jpg' alt='Мытье волос в изделии' title='Мытье волос в изделии')
              h2 Порядок снятия системы, зафиксированной на скотч
              ol.list-numbered
                li Ватным диском, смоченным в спирте, проведите по зонам фиксации системы.
                li Аккуратно, без рывков, снимите изделие, придерживая его край.
                li Обязательно удалите полоски с hair system и кожи, остатки тоже смойте спиртосодержащей жидкостью.
                li Если использовались полоски слабой фиксации, то обрабатывать спиртовым раствором не нужно.
                li Вымойте систему волос, при необходимости.
