extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Главная', 'Замещение волос','Инструкции'],current:'Как ухаживать за системой волос?'})
      +pageSection
        h1 Как ухаживать за системой волос?
        +pageSection
          +grid()
            +cell({s:9, xs:12})
              p Правильный уход увеличит срок службы системы на 45-70%, и подарит вам максимум комфорта от ее использования. 

              h2 Особенности мытья 
              ul.list-marked
                li для мытья выбирайте только теплую воду (до 37°С);
                li мойте систему, не снимая с головы, или в тазике;
                li окрашенную — 1 раз/неделю;
                li выбирайте нещелочной шампунь с протеином: оптимально — для окрашенных волос, бальзам используйте аналогичный;
                li обязательно используйте увлажняющие средства (кондиционер, маску для волос);
                li сушите в свободном состоянии, тщательно подбирайте температуру фена;
                li расческу используйте после полного высыхания волос.

              h2 Особенности сушки системы
              ul.list-marked
                li не выкручивайте волосы, а бережно оберните их полотенцем;
                li сушить лучше естественным способом или феном на режиме прохладного воздуха;
                li не сушите систему на батарее. 

              h2 Особенности расчесывания системы
              ul.list-marked
                li не используйте массажные щетки, брашинги, предназначенные для укладки кончиков волос;
                li выбирайте расческу с тупыми и широкими зубьями;
                li начинать расчесывание нужно с кончиков, медленно двигаясь вверх;
                li оптимальная частота расчесывания — дважды в день.

              h2 Другие нюансы ухода
              ul.list-marked
                li Чтобы волосы не выгорали на солнце, старайтесь меньше находиться под прямыми солнечными лучами. Сохранить оттенок волос помогут солнцезащитные спреи.
                li Ходите в бассейн с нехлорированной водой, после плавания промывайте и высушивайте волосы. Желательно плавать в шапочке, длинные волосы убирайте в косичку. 
                li Используйте мягкие наволочки из шелка, сатина, раз в неделю снимайте систему волос на ночь.
