extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/link-icons/link-icons
include /blocks/block-marked/block-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Главная', 'Замещение волос','Инструкции'],current:'Как выбрать размер?'})
      +pageSection
        h1 Как выбрать размер?
        +pageSection
          +grid()
            +cell({s:9, xs:12})
                p Из-за индивидуальных настроек монитора и разной освещенности, настоящий цвет парика может сильно отличаться от того, что вы видите на экране.
                p Если вы хотите подобрать цвет системы волос к какому-либо конкретному цвету, например, вашему натуральному цвету волос, мы можем предложить вам следующие варианты.
                h2 Подобрать цвет по фотографии
                p Вы можете отправить нам фотографию волос
                ul.list-marked.list-marked--w-prev-par
                  li на почту 
                    a(href='mailto:info@hairsystems.ru') info@hairsystems.ru
                  li с помощью 
                    a(href='') специальной формы
                  li в мессенджере
                    +linkIcons(['viber', 'whatsapp'])
                  li личным сообщением в социальной сети
                    +linkIcons(['vk','facebook','instagram'])
                p Лучше сделать несколько фотографий при разном освещении для сравнения.
                h2 Консультация по телефону или онлайн
                p Звоните нам по номеру +7 (800) 775-20-89 или оставьте 
                  a(href='#' onclick="Comagic.openSitePhonePanel()") заявку на обратный звонок
                  | .
                p Звоните нам по видео связи:
                  +linkIcons(['viber', 'whatsapp'])
                p Наш сотрудник подскажет возможные варианты и поможет выбрать цвет.
                h2 Подобрать цвет по пряди ваших волос
                p Вы можете прислать нам письмом небольшую прядь ваших волос или волос вашего парика. Наш опытный специалист подберет цвет. В письме необходимо указать название и марку изделия, к которому требуется подобрать цвет.
                p: a(href='#' data-mrc-sh-title='prepare-hair') Подготовка пряди
                +blockMarked({'padding':'small'})(data-mrc-sh-body='prepare-hair'): p Отрежьте прядь хотя бы 3×5 см (желательно потолще, так как это упростит нам подбор цвета). Убедитесь, что срезанная прядь именно того цвета, который вы хотели бы подобрать. Затем аккуратно приклейте ее полоской скотча на лист простой белой бумаги и положите в конверт. Напишите на конверте имя, номер телефона, e-mail и номер заказа, а также модель парика, которую вы заказываете.
