extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Главная', 'О магазине'],current:'Как заказать?'})
      +pageSection
        h1 Как заказать?
        +grid({'margin-top': true})
          +cell({s:9, xs:12})
            ol.list-numbered.list-numbered--big-numbers
              li Выберите в&nbsp;каталоге понравившийся товар с&nbsp;указанием необходимых параметров (например, для волос: цвет, длина) и&nbsp;добавьте его в&nbsp;корзину
              li Выберите количество и&nbsp;нажмите кнопку &laquo;Оформить заказ&raquo;
              li Заполните информацию для оформления заказа (имя, фамилия, e-mail, телефон)
              li Подтвердите свой заказ
              li После поступления заказа мы&nbsp;свяжемся с&nbsp;вами для его подтверждения
              li Вы&nbsp;получите на&nbsp;почту информацию о&nbsp;заказе, а&nbsp;также информацию для совершения оплаты выбранным способом
              li После получения оплаты мы&nbsp;вышлем посылку и&nbsp;сообщим вам номер отправления
