extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/text-marked/text-marked
include /blocks/link-icons/link-icons
include /blocks/img/img

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const isContactsPage = true
block content
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Контакты'})
      +pageSection
        h1 Контакты
        +grid({'padding-y': true})
          +cell({m:5, s:6, xs:12})
            +pageSubsection
              h2 Адрес
              +textMarked({'tag': 'p', 'fontWeight': 'normal'}) г. Москва<br>Средний Тишинский пер. д. 10
              p Работаем ежедневно с 10 до 21.
            +pageSubsection
              h2 Телефон
              +textMarked({'tag': 'p', 'fontWeight': 'normal'}) +7 (800) 775-20-89
              +grid({'margin-top': true, 'align': 'center'})
                +cell({m:3,s:4,xs:4}): +linkIcons(['viber','whatsapp','telegram',])
                +cell({m:9,xs:8,xs:8}): p Напишите нам при помощи приложений Viber, WhatsApp и Telegram, добавив наш номер 
                  strong(style='white-space: nowrap') +7 (921) 571 01 24
                  |  в список контактов.
            +pageSubsection
              h2 Почта
              +textMarked({'tag': 'p', 'fontWeight': 'normal'}): a(href='mailto:mail@haircenters.ru') mail@haircenters.ru
            +pageSubsection
              h2 Реквизиты
              p
                | ООО «Центр Дизайна Волос»
                br
                | ИНН 7839080306
                br
                | КПП 783901001
              p
                | ОКАТО 40262565000
                br
                | ОКПО 06947226
                br
                | ОКОПФ 12300
                br
                | ОКФС 16
                br
                | ОКВЭД 47.91
                br
                | ОКОГУ 4210014
              p
                | Юридический адрес: 196084, СПб, набережная Обводного канала, дом 108, лит. А, пом 30Н
                br
                | Банк:р/с 40702810232060006187 ФИЛИАЛ «Санкт-Петербургский» АО «АЛЬФА-БАНК»
                br
                | БИК 044030786
                br
                | к/с 30101810600000000786
                br
                | Генеральный директор Лейтес Павел Борисович
            
          +cell({m:7, s:6, xs:12})
            +pageSubsection
              script(type='text/javascript' charset='utf-8' async src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A997e105a1b204421b98dc1166d291e85d0d4549d57673ab7abcb78bc1cde8b04&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true')
        +pageSubsection
          h2 Фотографии Центра дизайна волос
          br
          .gallery
            - for (let i = 1; i < 12; i++)
              a(href=`/images/kontakty/office-${[i]}.webp` data-fancybox).gallery__item
                +img({
                  name: `office-${[i]}`,
                  path: '/images/kontakty/',
                  formats: [
                    { ext: 'jpg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                  })(alt= 'Фотографии офиса')
          h2 Видео 360 градусов
          br
          video(playsinline id="video360" class="video-js vjs-default-skin" controls preload="auto" poster="/video/3dtur.jpg")
            source(src="/video/3dtur.webm" type="video/webm")
block end
  link(href="https://unpkg.com/video.js/dist/video-js.min.css" rel="stylesheet")
  +style('about')
