extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/product-item/product-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Главная','Материалы'],current:'Клей'})
      +pageSection
        h1 Готовые системы волос
        +pageSubsection
          +grid({'padding-y': true})
            - let i = 0
            while i < 12
              +cell({m:3,s:4,xs:6})
                +productItem({
                  image: 'https://dummyimage.com/400x600.jpg',
                  name: 'Жидкий клей Flex Bond',
                  price: '1000',
                })
              - i++
        +pageSubsection
          include /blocks/pagination/pagination 
        +pageSubsection()
          h2 Клей для фиксации системы волос
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
block end
  +style('materials-section')
