extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/product-category/product-category

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Материалы'})
      +pageSection
        h1 Материалы
        +pageSubsection
          +grid({'padding-y': true})
            -
              const mats = ['Ленты', 'Клей', 'Скотч']
            each item in mats
              +cell({m:4,s:6,xs:12})
                +productCategory({
                  image: 'https://dummyimage.com/730x486.jpg',
                  name: item,
                })
        +pageSubsection()
          h2 Материалы для фиксации системы волос
          p НLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
block end
  +style('materials')
