extends /blocks/layout/layout

include /blocks/list-advantages/list-advantages
include /blocks/text-marked/text-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      h1 О магазине
      p Центр дизайна волос&nbsp;&mdash; специализированный салон систем замещения волос, с&nbsp;помощью которых вы&nbsp;сможете эффективно решить проблему облысения, редеющих волос или их&nbsp;полного отсутствия. Сделать это быстро, надежно, с&nbsp;максимальной долей естественности и&nbsp;на&nbsp;условиях полной конфиденциальности. 
      p Мы&nbsp;предлагаем уникальную методику замещения волос без операции, которая подойдет людям любого возраста и&nbsp;пола, вне зависимости от&nbsp;интенсивности и&nbsp;степени потери волос. Среди наших клиентов дети, подростки, мужчины и&nbsp;женщины: за&nbsp;время своей деятельности мы&nbsp;помогли сотням людей. 
      h2 Почему нас выбирают
      ul.list-marked.list-marked--big-circle
        li
          strong Индивидуальный подход:
          |  мы&nbsp;внимательно и&nbsp;чутко подходим к&nbsp;вашей проблеме, заботимся, чтобы в&nbsp;Центре вы&nbsp;ощущали себя максимально комфортно.
        li
          strong Специалисты высокого квалификационного уровня:
          |  опыт работы исчисляется десятилетиями, владеют обширными практическими навыками, в&nbsp;совершенстве знают теорию метода, регулярно обучаются, чтобы повысить свой профессионализм.
        li
          strong Комплексный подход:
          |  подберем оптимальную систему замещения волос, в&nbsp;зависимости от&nbsp;вашего имиджа, интенсивности жизни и&nbsp;потребностей, сделаем новую прическу на&nbsp;hair system, чтобы придать ей&nbsp;еще более натуральный вид.
        li
          strong Инновационные методики
          |  как залог качественного эстетического эффекта.
        li
          strong Доступные цены.
          |  Система ценообразования прозрачная и&nbsp;ясна, для постоянных клиентов действует система скидок.
      h2 Другие наши преимущества
      -
        const advantages = [
          {title: '18-летний опыт работы', text: 'Такой существенный срок деятельности позволяет нам разбираться во&nbsp;всех тонкостях выбора и&nbsp;использования систем волос. Благодаря этому сотни клиентов смогли преодолеть психологический дискомфорт от&nbsp;несовершенств шевелюры, вернуться к&nbsp;нормальной жизни.', sizes: {m:6,s:6,xs:12}},
          {title: 'Надежность ', text: 'Мы&nbsp;не&nbsp;просто продаем hair system ради роста продаж, а&nbsp;предлагаем только те&nbsp;изделия, которые улучшат именно вашу жизнь. Мы&nbsp;ценим честность и&nbsp;в&nbsp;полной мере осознаем ответственность, которую несем перед вами. ', sizes: {m:6,s:6,xs:12}},
          {title: 'Качество', text: 'Вы&nbsp;получаете заказанное изделие, соответствующее вашим запросам и&nbsp;ситуации. Возвращаем деньги или предлагаем замену, если первоначальный вариант не&nbsp;подошел. Практикуем гарантийное обслуживание, предлагаем услугу ремонта системы волос.', sizes: {m:6,s:6,xs:12}},
          {title: 'Ваша история важна для нас', text: 'Подбираем самое подходящее, лучшее изделие, исходя из&nbsp;вашей персональной истории, пожеланий и&nbsp;образа жизни.', sizes: {m:6,s:6,xs:12}},
          {title: 'Мы&nbsp;внимательны', text: 'Отвечаем на&nbsp;любые вопросы, исчерпывающе и&nbsp;компетентно, вы&nbsp;получите объективный, честный ответ без преувеличений и&nbsp;навязывания какого-то конкретного мнения.', sizes: {m:6,s:6,xs:12}},
        ]
      +listAdvantages(advantages, {})
block end
  +style('about')
