extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/block-marked-icon/block-marked-icon
include /blocks/link-icons/link-icons
include /blocks/product-sizes/product-sizes
include /blocks/product-size/product-size
include /blocks/block-marked-border/block-marked-border
include /blocks/product-header/product-header
include /blocks/product-images/product-images
include /blocks/product-buy/product-buy
include /blocks/product-properties/product-properties
include /blocks/product-item/product-item
include /blocks/tabs/tabs

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +pageSection
        +breadcrumbs({parents: ['Главная'], current: 'Готовые системы волос'})
        +productHeader('Perfecto','Длинная женская система волос на сетке на всю голову')
        +grid({'padding-y': true})
          +cell({m:4, s:5, xs:12})
            +pageSubsection
              +productImages()
            +pageSubsection
              +blockMarked({'padding': 'small'})
                p: strong Сложно выбрать цвет, размер основы?
                ul.list-marked
                  li Свяжитесь с нами в мессенджере или соц. сети.
                    +grid({par: true})
                      +cell: +linkIcons(['whatsapp', 'viber'])
                      +cell: +linkIcons(['vk', 'facebook', 'instagram'])
                  li
                    a(href='#') Оставьте телефон
                    | , позвоним вам в удобное время.
                p Подберем нужный товар, выберем способ доставки и оплаты.
          +cell({m:8, s:7, xs:12})
            +pageSubsection
              include /blocks/product-price/product-price
            +pageSubsection
              include /blocks/product-colors/product-colors
            +pageSubsection
              +grid({'padding-y': true, 'nopadding': true})
                +cell({m:6,xs:12})
                  +grid({'padding-y': true, 'align': 'baseline'})
                    +cell(): h3 Размер основы
                    +cell(): a(href='#size-tab') Как измерить?
                  -
                    const sizes = ['XS (50 см)','S (52 см)','M (54 см)','L (56 см)','XL (58 см)']
                  +productSizes(sizes)
                +cell({m:6,xs:12})
                  +blockMarkedBorder({'border-width':'wide'})
                    p Возможна доработка системы: окрашивание/тонирование, стрижка, выпрямление/завивка по желанию клиента.
                    p: a(href='#stoimost-dop-uslug' data-fancybox) Стоимость дополнительных услуг
            +pageSubsection
              +grid
                +cell({m:11, xs:12})
                  +productBuy()
            +pageSubsection
              +blockMarkedIcon({'padding': 'small', 'color': 'medium'}): p: strong Обучим установке, перефиксации и самостоятельному уходу.
                br
                | Дадим пошаговые инструкции.
            +pageSubsection
              -
                const properties = [
                  {name: 'Тип', value: 'Полный объем головы', details: [{tag: 'p', content: {tag: 'strong', tag: 'Lorem ipsum dolor sit amet'}}, {tag: 'p', content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum'}]},
                  {name: 'Длина волос', value: '25 см'},
                  {name: 'Материал основы', value: 'Моносетка, полиуретан'},
                  {name: 'Доп. опции', value: 'Шелковая вставка на макушке', details: {tag: 'p', content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum'}},
                ]
              +productProperties(properties)
            +pageSubsection
              h2 Описание
              p Короткие стрижки выглядят всегда бодро и укладываются без особого труда. Ступенчатая стрижка ACTIVE LOOK. Основание парика – это нежный, приятный тюль. Волосы верхней части парика закреплены вручную, что придаёт стрижке необычную лёгкость. Благодаря lace front, чёлку можно поднимать или укладывать в любом направлении. Интересная и в седых тонах!
      +pageSection
        +tabs
          +tab({name: 'Характеристики'})
            +pageSubsection
              +grid({'padding-y': true, 'par': true})
                +cell({m:4, xs:12})
                  h2 Детальная информация
                  p
                    | Тип системы: женская
                    br
                    | Волосы: славянские
                    br
                    | Структура волос: прямые
                    br
                    | Вес: 30 г.
                    br
                    | Способ крепления: на ленты (предпочтительные способы для данной основы)
                +cell({m:8, xs:12})
                  h2 Материал волос
                  p Волосы высочайшего качества с густыми кончиками, максимально подобранные по структуре к славянскому типу волос.
                  p Натуральные волосы:
                  +grid({tag:'ul','par': true}).list-marked.list-marked--w-prev-par
                    +cell({tag:'li', m:6, xs:12}) лежат естественно
                    +cell({tag:'li', m:6, xs:12}) обладают здоровым блеском
                    +cell({tag:'li', m:6, xs:12}) очень комфортны в носке
                    +cell({tag:'li', m:6, xs:12}) можно укладывать любым способом
                    +cell({tag:'li', m:6, xs:12}) можно окрашивать
                    +cell({tag:'li', m:6, xs:12}) долговечны, срок службы 1-2 года
            +pageSubsection
              h2 Конструкция основы
              +grid({'padding-y': true, 'par': true})
                +cell({m:2,s:3,xs:6}): img(src='https://dummyimage.com/334x334.jpg' alt='')
                +cell({m:10,s:9,xs:12}): p Основа парика выполнена из специального материала, похожего на тюль (мягкий, легкий и эластичный), на которую вручную навязаны волосы. Максимально натуральный вид, можно укладывать волосы и делать пробор в любом направлении. Один из самых мягких и легких вариантов париков. Идеально подходит для людей с чувствительной кожей головы.
            +pageSubsection
              h2 Как крепится
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
          +tab({name: 'Как подобрать цвет?'})#color-tab
            +pageSubsection
              h2 Как подобрать цвет системы?
              p Из-за индивидуальных настроек монитора и разной освещенности, настоящий цвет парика может сильно отличаться от того, что вы видите на экране.
              p Если вы хотите подобрать цвет системы волос к какому-либо конкретному цвету, например, вашему натуральному цвету волос, мы можем предложить вам следующие варианты.
            +pageSubsection
              +grid({'padding-y': true})
                +cell({m:6,xs:12})
                  h3 Подобрать цвет по фотографии
                  p Вы можете отправить нам фотографию волос
                  ul.list-marked.list-marked--w-prev-par
                    li на почту 
                      a(href='mailto:info@hairsystems.ru') info@hairsystems.ru
                    li с помощью 
                      a(href='') специальной формы
                    li в мессенджере
                      +linkIcons(['viber', 'whatsapp'])
                    li личным сообщением в социальной сети
                      +linkIcons(['vk','facebook','instagram'])
                  p Лучше сделать несколько фотографий при разном освещении для сравнения.
                  h3 Консультация по телефону или онлайн
                  p Звоните нам по номеру +7 (800) 775-20-89 или оставьте 
                    a(href='#' onclick="Comagic.openSitePhonePanel()") заявку на обратный звонок
                    | .
                  p Звоните нам по видео связи:
                    +linkIcons(['viber', 'whatsapp'])
                  p Наш сотрудник подскажет возможные варианты и поможет выбрать цвет.
                +cell({m:6,xs:12})
                  h3 Подобрать цвет по пряди ваших волос
                  p Вы можете прислать нам письмом небольшую прядь ваших волос или волос вашего парика. Наш опытный специалист подберет цвет. В письме необходимо указать название и марку изделия, к которому требуется подобрать цвет.
                  p: a(href='#' data-mrc-sh-title='prepare-hair') Подготовка пряди
                  +blockMarked({'padding':'small'})(data-mrc-sh-body='prepare-hair') Отрежьте прядь хотя бы 3×5 см (желательно потолще, так как это упростит нам подбор цвета). Убедитесь, что срезанная прядь именно того цвета, который вы хотели бы подобрать. Затем аккуратно приклейте ее полоской скотча на лист простой белой бумаги и положите в конверт. Напишите на конверте имя, номер телефона, e-mail и номер заказа, а также модель парика, которую вы заказываете.
          +tab({name: 'Размер основы'})#size-tab
            +pageSubsection
              h2 Как выбрать замер системы?
            +pageSubsection
              +grid({'justify': 'center'})
                +cell({m:3, s:2, xs:6}): img(src='/images/head-measuring.svg' alt='Как выбрать замер системы?')
                +cell({m:9, s:10, xs:12})
                  p Чтобы определить правильный размер окружности головы, оберните ленту — сантиметр на расстоянии 1,5-2,5 сантиметра выше бровей, немного выше ушей и в той точке на затылке, которая дает вам наибольшую длину окружности. Измерьте голову несколько раз, чтобы избежать ошибок.
                  p Прикладывайте метр наиболее плотно – система должна сидеть четко, а не болтаться взад-вперед. Если округляете – то только в большую сторону.
                  p
                    | XS - 50 см
                    br
                    | S - 52 см
                    br
                    | M - 54 см
                    br
                    | L - 56 см
                    br
                    | XL - 58 см
            +pageSubsection
              +grid({'margin-top': true, 'padding-y': true, 'align': 'center'})
                +cell({m:4, s:3, xs:6}): img(src='/images/head-measuring-2.svg' alt='Как выбрать замер системы?')
                +cell({m:6, s:9, xs:12})
                  p Чтобы определить длину, приложите ленту-сантиметр одним концом к линии роста волос над лбом, а другим концом к линии роста волос на шее.
                  p Чтобы определить ширину, приложите ленту-сантиметр одним концом к линии роста волос за одним ухом, а другим концом к линии роста волос за другим ухом.
          +tab({name: 'Оплата и доставка'})
            +pageSubsection
              h2 Доставка
            +pageSubsection
              +grid({'padding-y': true})
                +cell({m:6, xs:12})
                  h3 Москва
                  p Доставка в Москву осуществляется курьерской службой "Курьер сервис экспресс".
                  p Cрок доставки 1-2 рабочих дня, отправка в день заказа при оплате до 13.00.
                  p: strong Стоимость - 585 руб.
                +cell({m:6, xs:12})
                  h3 Доставка по России
                  p Отправляем транспортной компанией КСЭ.
                  p: strong Стоимость: от 520 до 1150 руб.
                  p Стоимость и скорость доставки зависит от удаленности города от Санкт-Петербурга.
                  p Срок доставки и стоимость рассчитывается автоматически в корзине при оформлении заказа. Для расчета укажите ваш город и выберите способ доставки “Транспортной компанией (курьер)”.
                  p В день доставки курьер позвонит и согласует время.
            +pageSubsection
              h3 Оплата
              p Принимаем оплату на сайте в режиме онлайн.
              -
                const paymentSystems = [
                  {name: 'Банковские карты', list: ['mir.svg', 'mastercard.svg','visa.svg','apple-pay.svg']},
                  {name: 'Электронные деньги', list: ['yandex.svg','webmoney.svg','qiwi.svg','eleksnet.svg']},
                  {name: 'Терминалы', list: ['eleksnet.svg', 'qiwi.svg']},
                  {name: 'Интернет-банкинг', list: ['alfa.jpg','russian-standard.png','vtb.svg','psbank.png','handybank.svg']},
                  {name: 'Баланс телефона', list: ['beeline.svg','megafon.svg','mts.svg','tele2.svg']},
                  {name: 'Наличными в салонах связи', list: ['svyaznoy.svg','euroset.png']},
                ]
              +grid({'padding-y': true})
                each item in paymentSystems
                  +cell({m:4,s:6,xs:12})
                    h4 !{item.name}
                    +grid({'padding-y': true, 'align': 'center'})
                      each i in item.list
                        +cell({xs:3}): img(src='/images/payment-systems/'+i alt='')
            +pageSubsection
              include ../blocks/banner-robokassa/banner-robokassa
          +tab({name: 'Гарантии'})
            h2 Гарантии
            p Гарантия действует в течение 
              strong двух недель
              |  с момента получения вами оплаченного изделия. На изделии должна быть сохранена фирменная бирка. Вы можете вернуть нам изделие, если оно не подошло вам по размеру и цвету, и только в неиспользованном состоянии. Все затраты на денежные переводы и доставку несет покупатель.
      +pageSection
        h2 Похожие системы
        +pageSubsection
          +grid({'padding-y': true})
            - let i = 0
            while i < 3
              +cell({m:3,s:4,xs:6})
                +productItem({
                  image: 'https://dummyimage.com/400x600.jpg',
                  name: 'Aura | Длинная женская система волос на сетке на всю голову',
                  price: '5000',
                })
              - i++
      +pageSection
        h2 Сопутствующие товары
        +pageSubsection
          +grid({'padding-y': true})
            +cell({m:3,s:4,xs:6})
              +productItem({
                image: 'https://dummyimage.com/400x600.jpg',
                name: 'Лента для длительной фиксации',
                price: '1200',
              })
      +pageSection
        div(style='width: 16rem') 
          include /blocks/modal-add-to-cart/modal-add-to-cart
      +pageSection
        include /blocks/quick-buy-modal/quick-buy-modal
  div(style='display: none')#stoimost-dop-uslug
    p Адаптация системы волос по размеру: 2000 – 5000 рублей
    p Окраска системы волос: 1600 – 2500 рублей
    p Первая стрижка системы волос: 2000 рублей
block end
  +style('product')
