extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/block-marked-icon/block-marked-icon
include /blocks/link-icons/link-icons
include /blocks/product-size/product-size
include /blocks/block-marked-border/block-marked-border
include /blocks/product-header/product-header
include /blocks/product-images/product-images
include /blocks/product-buy/product-buy
include /blocks/product-properties/product-properties
include /blocks/product-item/product-item
include /blocks/tabs/tabs

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +pageSection
        +breadcrumbs({parents: ['Главная','Материалы','Клей'], current: 'Жидкий безопасный клей Walker tape'})
        +productHeader('Жидкий безопасный клей Walker tape')
        +grid({'padding-y': true})
          +cell({m:4, s:3, xs:12})
            +pageSubsection
              +productImages({list: false})
          +cell({m:8, s:9, xs:12})
            +pageSubsection
              include /blocks/product-price/product-price
            +pageSubsection
              +grid
                +cell({m:11, xs:12})
                  +productBuy({material:true})
            +pageSubsection
              -
                const properties = [
                  {name: 'Производитель', value: 'США'},
                  {name: 'Марка', value: 'Walker Tape'},
                  {name: 'Срок фиксации', value: '3-6 недели'},
                ]
              +productProperties(properties)
            +pageSubsection
              h2 Описание
              p Прозрачный водонепроницаемый клей-сополимер, сохраняет надежное сцепление в течении 3-6. Этот клей на водной основе может очищаться мылом и водой. Обладает очень слабым запахом и устойчив к бактериям.
      +pageSection
        +tabs
          +tab({name: 'Как пользоваться?'})
            +pageSubsection
              h2 Как пользоваться?
          +tab({name: 'Оплата и доставка'})
            +pageSubsection
              h2 Доставка
            +pageSubsection
              +grid({'padding-y': true})
                +cell({m:6, xs:12})
                  h3 Москва
                  p Доставка в Москву осуществляется курьерской службой "Курьер сервис экспресс".
                  p Cрок доставки 1-2 рабочих дня, отправка в день заказа при оплате до 13.00.
                  p: strong Стоимость - 585 руб.
                +cell({m:6, xs:12})
                  h3 Доставка по России
                  p Отправляем транспортной компанией КСЭ.
                  p: strong Стоимость: от 520 до 1150 руб.
                  p Стоимость и скорость доставки зависит от удаленности города от Санкт-Петербурга.
                  p Срок доставки и стоимость рассчитывается автоматически в корзине при оформлении заказа. Для расчета укажите ваш город и выберите способ доставки “Транспортной компанией (курьер)”.
                  p В день доставки курьер позвонит и согласует время.
            +pageSubsection
              h3 Оплата
              p Принимаем оплату на сайте в режиме онлайн.
              -
                const paymentSystems = [
                  {name: 'Банковские карты', list: ['mir.svg', 'mastercard.svg','visa.svg','apple-pay.svg']},
                  {name: 'Электронные деньги', list: ['yandex.svg','webmoney.svg','qiwi.svg','eleksnet.svg']},
                  {name: 'Терминалы', list: ['eleksnet.svg', 'qiwi.svg']},
                  {name: 'Интернет-банкинг', list: ['alfa.jpg','russian-standard.png','vtb.svg','psbank.png','handybank.svg']},
                  {name: 'Баланс телефона', list: ['beeline.svg','megafon.svg','mts.svg','tele2.svg']},
                  {name: 'Наличными в салонах связи', list: ['svyaznoy.svg','euroset.png']},
                ]
              +grid({'padding-y': true})
                each item in paymentSystems
                  +cell({m:4,s:6,xs:12})
                    h4 !{item.name}
                    +grid({'padding-y': true, 'align': 'center'})
                      each i in item.list
                        +cell({xs:3}): img(src='/images/payment-systems/'+i alt='')
          +tab({name: 'Вопросы и ответы'})
            +pageSubsection
              h2 Вопросы и ответы
      +pageSection
        div(style='width: 16rem') 
          include /blocks/modal-add-to-cart/modal-add-to-cart
      +pageSection
        include /blocks/quick-buy-modal/quick-buy-modal
block end
  +style('product')
