extends /blocks/layout/layout

include /blocks/feedback-list/feedback-list
include /blocks/breadcrumbs/breadcrumbs
include /blocks/before-after/before-after
include /blocks/list-advantages/list-advantages
include /blocks/text-marked/text-marked
include /blocks/product-item/product-item
include /blocks/block-marked-icon/block-marked-icon
include /blocks/block-marked-border/block-marked-border
include /blocks/table/table

include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/iframe-responsive/iframe-responsive

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Замещение волос'})
      +pageSection
        h1 Замещение волос
        +blockMarked({bigPadding:true}).block-marked-whatis
          +blockMarkedContent({marked:true})
            +grid({paddingy:true})
              +cell({m:6,xs:12})
                p Метод безоперационного замещения волос является единственной существующей альтернативой пересадке собственных волос, с одной стороны, и парикам и накладкам, с другой.
                p Способ заключается в подборе и фиксации на коже головы системы волос – парика нового поколения.
                p Таким образом, метод безоперационного замещения имеет состоит из система волос и способа фиксации.
              +cell({m:6,xs:12})
                +youtubeResponsive('EHEtnVujZKI','Процесс фиксации системы')
              +cell({m:9, xs:12}): +blockMarkedBorder({'border-width':'wide', 'padding': 'small'}): p: +textMarked({'fontWeight':'normal'}) Метод замещения волос существует на международном рынке 
                strong более 40 лет
                |  и является одним из 
                strong ведущих
                |  при решении вопросов, связанных с потерей волос.
      +pageSection
        +pageSubsection
          h2 Для кого предназначен метод?
          p Этот метод подходит как мужчинам, так и женщинам, и не имеет никаких ограничений ни по возрасту, ни по типу облысения, ни по срокам использования.
          p Этот метод предназначен как для тех, у кого уже образовалась значительная зона потери волос (вследствии алопеции любого типа или травмы кожи головы), так и для тех, кто не удовлетворен густотой и качеством своих собственных волос.
        +pageSubsection
          h2 Преимущества замещения волос
        +pageSubsection
          -
            const advantages = [
              {title: 'Надежная фиксация<br>до 4х недель', text: 'Система волос надежно крепится при помощи специального водостойкого скотча или клея, поэтому система не слетит и не съедет.'},
              {title: 'Естественный вид<br>Имитация кожи', text: 'Каждый волосок системы крепится в ручную, за счет этого внешне имеет естественный вид человеческих волос.'},
              {title: 'Комфортно<br>Кожа головы дышит', text: 'Основа системы - тончайшая сеточка (швейцарское кружево). Она лёгкая, комфортная и не мешает естественной терморегуляции.'},
              {title: 'Любой ритм жизни', text: 'Спорт, танцы, плавание - все это возможно! Плетите косы, делайте высокие хвосты, любые прически как со своими волосами.'},
            ]
          +listAdvantages(advantages)
          //- +grid({'padding-y': true})
          //-   each item in advantages
          //-     +cell({m:3,s:6,xs:12})
          //-       h3 !{item.title}
          //-       p !{item.text}
        +pageSubsection
          h2 Система волос
          p Система состоит из&nbsp;
            strong основы
            | , материал которой имитирует кожу головы, и&nbsp;
            strong натуральных человеческих волос
            | .
          p
            strong Основа
            | &nbsp;&mdash; это сверхтонкий силиконовый или шелковый материал, абсолютно 
            strong не&nbsp;видимый и&nbsp;не&nbsp;ощутимый на&nbsp;ощупь
            |  на&nbsp;поверхности головы. К&nbsp;этой основе вручную, по&nbsp;одному волоску, крепятся натуральные волосы. Каждая волосинка привязывается к&nbsp;сетчатой основе вручную на&nbsp;двойной узелок, что обеспечивает очень 
            strong надежное крепление волоса
            |  и&nbsp;эстетический вид. Систему можно носить без перерывов много лет.
          p Основы системы волос бывают разными. Они подбираются в&nbsp;зависимости от&nbsp;типа проблемной зоны, вариантов будущей прически, предпочтительных вариантов фиксации.
          p Если система волос используется для верхней части головы, то&nbsp;необходимо, что волосы системы соответствовали собственным волосам клиента по&nbsp;разным параметрам (цвет, длина).
          p Можно применять систему волос и&nbsp;для тотальной алопеции. В&nbsp;этом случае она будет закрывать всю голову.
          p Между мужскими и&nbsp;женскими вариантами отличий нет. Все зависит от&nbsp;области потери волос, а&nbsp;все остальное подходит как мужчинам, так и&nbsp;женщинам.
          h2 Фиксация системы волос
          p Мы&nbsp;применяем два основных метода фиксации: на&nbsp;на&nbsp;
            strong гиппоаллергенный и&nbsp;влагостойкий жидкий полимер
            |  и&nbsp;на&nbsp;
            strong клейкие ленты
            | . Эти методы безвредны для кожи головы и&nbsp;не&nbsp;повреждает родные волосы. Обеспечивают надежную фиксацию до&nbsp;4х&nbsp;недель. Не&nbsp;надо больше бояться, что парик слетит или съедет.
          +blockMarked({'padding': 'small'})
            +blockMarkedContent({'marked': true})
              +grid({'padding-y': true, 'align': 'center'})
                +grid__item({m:3,s:4,xs:12}): img(src='/images/zameshchenie-volos/polimer.jpg' alt='Жидкий полимер для фиксации')
                +grid__item({m:9,s:8,xs:12})
                  p Если вы&nbsp;предполагаете носить систему волос, не&nbsp;снимая, круглые сутки, то&nbsp;мы&nbsp;применяем жидкий полимер. Он&nbsp;будет обеспечивать фиксацию около одного месяца, в&nbsp;течение которого вы&nbsp;будете вести привычный образ жизни, но&nbsp;с&nbsp;учетом наших рекомендаций по&nbsp;уходу за&nbsp;новыми волосами.
          +blockMarked({'padding': 'small'})
            +blockMarkedContent({'marked': true})
              +grid({'padding-y': true, 'align': 'center'})
                +grid__item({m:3,s:4,xs:12}): img(src='/images/zameshchenie-volos/lenta.png' alt='Ленты для фиксации')
                +grid__item({m:9,s:8,xs:12})
                  p Если&nbsp;же вы&nbsp;предпочитаете время он&nbsp;времени снимать систему волос (из&nbsp;гигиенических соображений или в&nbsp;связи с&nbsp;применяемым лечением, втираниями и&nbsp;т.п.), то&nbsp;рекомендуется применять ленточные полимеры. Они представляют собой специальный двусторонний скотч, который, несмотря на&nbsp;надежную фиксацию, позволит снимать систему волос так часто, как вы&nbsp;этого захотите.
          h2 Сравнение методов коррекции облысения
          p Каждый человек, страдающий от&nbsp;потери волос, может воспользоваться одним из&nbsp;5&nbsp;основных способов их&nbsp;компенсации:
          ul.list-marked.list-marked--w-prev-par
            li Косметические средства или &laquo;камуфляж&raquo; (спреи, лосьоны, кремы, пудры);
            li Медицинские препараты (Миноксидил, Пропеция, Финастерид);
            li Накладки и&nbsp;парики;
            li Хирургические способы (трансплантация, имплантация);
            li Безоперационное замещение волос.
          p Каждый из&nbsp;способов имеет свои плюсы и&nbsp;минусы, поэтому, прежде чем сделать выбор в&nbsp;пользу того или иного метода, необходимо тщательно изучить, каких результатов можно добиться, и&nbsp;какой ценой. К&nbsp;сожалению далеко не&nbsp;все, кто предлагает помощь в&nbsp;лечении, дают полную информацию о&nbsp;своем методе и&nbsp;о&nbsp;других путях решения проблемы. Мы&nbsp;предлагаем вам оценить эффективность существующих методик с&nbsp;помощью единой сравнительной таблицы.
          h3 Единая сравнительная таблица
          +table
            +tr
              +th 
              +th Безоперационное замещение волос
              +th Трансплантация
              +th Парики, накидки
              +th Медикаменты
              +th Косметика и «камуфляж»
            +tr
              +td Использование натуральных волос
              +td <strong>✓</strong>
              +td <strong>✓</strong>
              +td редко
              +td -
              +td -
            +tr
              +td Отсутствие хирургического вмешательства
              +td <strong>✓</strong>
              +td -
              +td <strong>✓</strong>
              +td <strong>✓</strong>
              +td <strong>✓</strong>
            +tr
              +td Сервис (консультации, помощь в уходе)
              +td <strong>✓</strong>
              +td <strong>✓</strong>
              +td -
              +td -
              +td -
            +tr
              +td Нежелательные побочные действия на организм
              +td нет
              +td возможно
              +td нет
              +td возможно
              +td нет
            +tr
              +td Компенсация малой потери волос
              +td <strong>✓</strong>
              +td <strong>✓</strong>
              +td -
              +td <strong>✓</strong>
              +td <strong>✓</strong>
            +tr
              +td Компенсация средней потери волос
              +td <strong>✓</strong>
              +td <strong>✓</strong>
              +td -
              +td -
              +td -
            +tr
              +td Компенсация большой и полной потери волос
              +td <strong>✓</strong>
              +td -
              +td <strong>✓</strong>
              +td -
              +td -
            +tr
              +td «эффект постепенного роста волос»
              +td <strong>✓</strong>
              +td -
              +td -
              +td -
              +td -
            +tr
              +td Отторжение волос или повторное облысение
              +td нет
              +td возможно
              +td нет
              +td возможно
              +td возможно
            +tr
              +td Возможность менять причёску, стиль
              +td <strong>✓</strong>
              +td -
              +td <strong>✓</strong>
              +td -
              +td -
            +tr
              +td Надёжность фиксации
              +td <strong>✓</strong>
              +td <strong>✓</strong>
              +td -
              +td -
              +td -
            +tr
              +td Отличие от собственных волос
              +td нет
              +td нет
              +td <strong>✓</strong>
              +td <strong>✓</strong>
              +td <strong>✓</strong>
            +tr
              +td Необходимость «периода реабилитации»
              +td нет
              +td <strong>✓</strong>
              +td нет
              +td <strong>✓</strong>
              +td нет
            +tr
              +td Гарантия хорошего результата
              +td всегда
              +td не всегда
              +td нет
              +td редко
              +td нет
block end
  +style('replacement')
