extends /blocks/layout/layout

include /blocks/feedback-list/feedback-list
include /blocks/before-after/before-after
include /blocks/list-advantages/list-advantages
include /blocks/text-marked/text-marked
include /blocks/product-item/product-item
include /blocks/block-marked-icon/block-marked-icon
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/iframe-responsive/iframe-responsive
include /blocks/breadcrumbs/breadcrumbs
   
block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents: ['Главная','Замещение волос'], current:'Замещение волос для мужчин'})
      +pageSection
        h1 Замещение волос для мужчин
        +blockMarked({bigPadding:true}).block-marked-whatis
          +blockMarkedContent({marked:true})
            +grid({'padding-y':true, 'align':'center'})
              +cell({m:7,xs:12})
                p Мужчины 
                  strong хотят
                  |  иметь красивые волосы:
                ul.list-marked.list-marked--big-circle
                  li Потому что мужчина в&nbsp;
                    strong 35&nbsp;лет
                    |  при отсутствии волос уже выглядит на&nbsp;
                    strong 40&ndash;45
                    | .
                  li Так как в&nbsp;спорте, бизнесе, карьере, любви&nbsp;&mdash; победу одерживает 
                    strong молодость
                    | .
                  li Чтобы чувствовать себя 
                    strong уверенно
                    | , избавиться от&nbsp;комплексов.
                  li Так как хотят быть 
                    strong модными и&nbsp;современными
                    | .
                  li Желают быть 
                    strong привлекательными
                    |  в&nbsp;глазах женщин
              +cell({m:5,xs:12})
                p: img(src='https://dummyimage.com/600x400.jpg')
              +cell({xs:10}): +textMarked() Среди наших клиентов мужчин немало успешных людей, ведущих активную публичную жизнь – политики и бизнесмены, артисты, спортсмены. Мы всегда соблюдаем конфиденциальность!
      +pageSection
        h2 В&nbsp;каких случаях система волос&nbsp;&mdash; это решение?
        +grid({'tag': 'ul', 'padding-y': true}).list-marked.list-marked--big
          +cell({'tag': 'li', m:6,xs:12}) Облысение по&nbsp;андрогенетическому типа
          +cell({'tag': 'li', m:6,xs:12}) Тотальная алопеция
          +cell({'tag': 'li', m:6,xs:12}) Ожоги или шрамы на&nbsp;голове
          +cell({'tag': 'li', m:6,xs:12}) Поредение или тонкие, слабые волосы
      +pageSection
        h2 Почему замещение волос отлично подходит мужчинам?
        -
          const size = {m:6,xs:12}
          const advantages = [
            {title: 'Незаметность', text: 'За&nbsp;счет тончайшей основы создается имитация роста волос. Незаметная фронтальная линия делает возможным зачесывать волосы назад. Вблизи и&nbsp;даже при прикосновении очень сложно определить наличие системы. Знакомые будут уверены, что это&nbsp;&mdash; ваши собственные волосы.', sizes: size},
            {title: 'Естественность', text: 'Многие мужчины переживают, будет&nbsp;ли это натурально выглядеть. Вы&nbsp;можете выполнить стрижку, которую вы&nbsp;носили ранее или которая будет абсолютно органична вашему стилю и&nbsp;внешнему виду.', sizes: size},
            {title: 'Активный образ жизни', text: [
              'Вы&nbsp;можете спокойно заниматься спортом, ходить в&nbsp;зал, плавать в&nbsp;бассейне и&nbsp;ходить в&nbsp;сауну.',
              {'tag': 'div', 'className': 'grid grid--padding-y', 'content': [
                {'tag':'div', 'className': 'grid__cell grid__cell--m-4 grid__cell--xs-6', 'content': {'tag': 'img', 'attr': {'src':'https://dummyimage.com/300x200.jpg', 'alt':''}}},
                {'tag':'div', 'className': 'grid__cell grid__cell--m-4 grid__cell--xs-6', 'content': {'tag': 'img', 'attr': {'src':'https://dummyimage.com/300x200.jpg', 'alt':''}}},
                {'tag':'div', 'className': 'grid__cell grid__cell--m-4 grid__cell--xs-6', 'content': {'tag': 'img', 'attr': {'src':'https://dummyimage.com/300x200.jpg', 'alt':''}}},
              ]}
            ], sizes: size},
            {title: 'Простота ношения и&nbsp;ухода', text: 'Система надежно крепится на&nbsp;клей, одной фиксации хватает на&nbsp;полтора месяца. Коррекция системы очень проста, быстра и&nbsp;комфортна. Снять, почистить, установить. Всего час-два времени и&nbsp;комфорт на&nbsp;ближайшие 6&nbsp;недель обеспечен. За&nbsp;системой можно самостоятельно ухаживать дома: мыть голову и&nbsp;укладывать волосы.', sizes: size},
          ] 
        +listAdvantages(advantages)
      +pageSection
        +grid({'justify': 'center'})
          +cell
            +pageSubsection
              h2 Остались вопросы?
            +pageSubsection
              p: a(href='/').btn Получить консультацию
      +pageSection
        +pageSubsection
          h2 Варианты мужских систем
          +grid({'cols': 10, 'margin-top': true, 'padding-y': true})
            -
              const forMen = [
                {image: 'https://dummyimage.com/400x600.jpg', length: 'длина: 15 см', price: '21000', alt: ''},
                {image: 'https://dummyimage.com/400x600.jpg', length: 'длина: 20 см', price: '21000', alt: ''},
                {image: 'https://dummyimage.com/400x600.jpg', length: 'длина: 20 см', price: '21000', alt: ''},
              ]
            each item in forMen
              +cell({m:2, s:3, xs: 5})
                +productItem(item)
        +pageSubsection
          a(href='').btn Перейти в каталог
      +pageSection
        h2 Фото до и после
        -
          const beforeAfter = {
            items: [
              {
                images:{
                  before:'https://dummyimage.com/1024x1024.jpg',
                  after:'https://dummyimage.com/1024x1024.jpg',
                },
                name:'Всеволод',
                desc:'андрогенная алопеция'
              },
              {
                images:{
                  before:'https://dummyimage.com/1024x1024.jpg',
                  after:'https://dummyimage.com/1024x1024.jpg',
                },
                name:'Александр',
                desc:'андрогенная алопеция'
              },
              {
                images:{
                  before:'https://dummyimage.com/1024x1024.jpg',
                  after:'https://dummyimage.com/1024x1024.jpg',
                },
                name:'Анастасия',
                desc:'очаговая алопеция(частичное облысение на макушке-гнездное облысение)'
              },
            ]
          }
        +beforeAfter(beforeAfter)
      +pageSection
        +blockMarked({marginTop: true})
          +grid({paddingy: true})
            +grid__item({m:8,xs:12})
              +blockMarkedContent({lifted: true})
                +youtubeResponsive('aUw8hx2LHVI')
            +grid__item({m:4,xs:12})
              +blockMarkedContent()
                p Согласно изостатической концепции Эйри, уравнение возмущенного движения относительно. Красноватая звездочка складчата. Астатическая система координат Булгакова зависима.
                p Малиньит изменяем. Хотя хpонологи не увеpены, им кажется, что иольдиевая глина иллюстрирует параметр. Различное расположение выбирает грабен. Угол курса многопланово позволяет пренебречь колебаниями корпуса, хотя этого в любом случае требует лимб. Векторная форма ослабляет подвес, используя имеющиеся в этом случае первые интегралы. Как уже указывалось, изостазия притягивает первичный эксцентриситет.
block end
  +style('replacement')
