extends /blocks/layout/layout

include /blocks/feedback-list/feedback-list
include /blocks/before-after/before-after
include /blocks/list-advantages/list-advantages
include /blocks/text-marked/text-marked
include /blocks/product-item/product-item
include /blocks/block-marked-icon/block-marked-icon
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/iframe-responsive/iframe-responsive
include /blocks/breadcrumbs/breadcrumbs
   
block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents: ['Главная','Замещение волос'], current:'Замещение волос для женщин'})
      +pageSection
        h1 Замещение волос для женщин
        +blockMarked({bigPadding:true}).block-marked-whatis
          +blockMarkedContent({marked:true})
            +grid({'padding-y':true, 'align':'center'})
              +cell({m:7,xs:12})
                p Утрата волос становится для женщины настоящей катастрофой. Однако не стоит отчаиваться.
                p За более 18 лет нашей работы мы помогли сотням женщин обрести себя, вернуть себе привлекательный имидж и очарование.
                p Прическа – это настроение, уверенность в себе, а иногда и путь к сердцу возлюбленного.
              +cell({m:5,xs:12})
                p: img(src='https://dummyimage.com/600x400.jpg')
      +pageSection
        h2 В&nbsp;каких случаях система волос&nbsp;&mdash; это решение?
        +grid({'tag': 'ul', 'padding-y': true}).list-marked.list-marked--big
          +cell({'tag': 'li', m:6,xs:12}) Тотальная алопеция
          +cell({'tag': 'li', m:6,xs:12}) Временное выпадение волос при химиотерапии
          +cell({'tag': 'li', m:6,xs:12}) Ожоги или шрамы на&nbsp;голове
          +cell({'tag': 'li', m:6,xs:12}) Поредение или тонкие, слабые волосы
      +pageSection
        +pageSubsection
          h2 Почему замещение волос отлично подходит женщинам?
        +pageSubsection
          -
            const size = {m:6,xs:12}
            const advantages = [
              {title: 'Незаметность', text: 'Убирать волосы за&nbsp;ухо станет снова привычным делом. Нет опасности сдвинуть систему или показать ее&nbsp;край. Даже ваши близкие и&nbsp;родные люди смогут запустить руку в&nbsp;волосы и&nbsp;не&nbsp;почувствуют основы.', sizes: size},
              {title: 'Любые варианты стиля', text: 'С&nbsp;системой волос вы&nbsp;можете делать все, что и&nbsp;со&nbsp;своими собственными волосами: делать стрижку, укладку, окрашивание, завивать, выпрямлять. создавать любые прически на&nbsp;ваш вкус. Делайте проборы в&nbsp;любом месте, плетите косы, собирайте высокие хвосты.', sizes: size},
              {title: 'Бережный подход к&nbsp;собственным волосам', text: 'Можно использовать при любом виде облысения и&nbsp;продолжать курс лечения. Свои волосы сохраняются, они дышат и&nbsp;продолжают расти, их&nbsp;не&nbsp;надо сбривать.', sizes: size},
              {title: 'Комфорт', text: 'Благодаря тонкой основе весом всего 11&nbsp;г.&nbsp;на&nbsp;которую вручную привязан каждый волосок, изделие очень легкое и&nbsp;комфортное. Уже через день вы&nbsp;забудете про ее&nbsp;наличие.', sizes: size},
            ] 
          +listAdvantages(advantages)
      +pageSection
        +grid({'justify': 'center'})
          +cell
            +pageSubsection
              h2 Остались вопросы?
            +pageSubsection
              p: a(href='/').btn Получить консультацию
      +pageSection
        +pageSubsection
          h2 Варианты мужских систем
        +pageSubsection
          +grid({'cols': 10})
            -
              const forMen = [
                {image: 'https://dummyimage.com/400x600.jpg', length: 'длина: 15 см', price: '21000', alt: ''},
                {image: 'https://dummyimage.com/400x600.jpg', length: 'длина: 20 см', price: '21000', alt: ''},
                {image: 'https://dummyimage.com/400x600.jpg', length: 'длина: 20 см', price: '21000', alt: ''},
              ]
            each item in forMen
              +cell({m:2, xs: 3})
                +productItem(item)
        +pageSubsection
          a(href='').btn Перейти в каталог
      +pageSection
        h2 Фото до и после
        -
          const beforeAfter = {
            items: [
              {
                images:{
                  before:'https://dummyimage.com/1024x1024.jpg',
                  after:'https://dummyimage.com/1024x1024.jpg',
                },
                name:'Всеволод',
                desc:'андрогенная алопеция'
              },
              {
                images:{
                  before:'https://dummyimage.com/1024x1024.jpg',
                  after:'https://dummyimage.com/1024x1024.jpg',
                },
                name:'Александр',
                desc:'андрогенная алопеция'
              },
              {
                images:{
                  before:'https://dummyimage.com/1024x1024.jpg',
                  after:'https://dummyimage.com/1024x1024.jpg',
                },
                name:'Анастасия',
                desc:'очаговая алопеция(частичное облысение на макушке-гнездное облысение)'
              },
            ]
          }
        +beforeAfter(beforeAfter)
      +pageSection
        +blockMarked({marginTop: true})
          +grid({paddingy: true})
            +grid__item({m:8,xs:12})
              +blockMarkedContent({lifted: true})
                +youtubeResponsive('aUw8hx2LHVI')
            +grid__item({m:4,xs:12})
              +blockMarkedContent()
                p Согласно изостатической концепции Эйри, уравнение возмущенного движения относительно. Красноватая звездочка складчата. Астатическая система координат Булгакова зависима.
                p Малиньит изменяем. Хотя хpонологи не увеpены, им кажется, что иольдиевая глина иллюстрирует параметр. Различное расположение выбирает грабен. Угол курса многопланово позволяет пренебречь колебаниями корпуса, хотя этого в любом случае требует лимб. Векторная форма ослабляет подвес, используя имеющиеся в этом случае первые интегралы. Как уже указывалось, изостазия притягивает первичный эксцентриситет.
block end
  +style('replacement')
