extends /blocks/layout/layout

include /blocks/feedback-list/feedback-list
include /blocks/before-after/before-after
include /blocks/list-advantages/list-advantages
include /blocks/text-marked/text-marked
include /blocks/product-item/product-item
include /blocks/block-marked-icon/block-marked-icon
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/iframe-responsive/iframe-responsive
include /blocks/breadcrumbs/breadcrumbs
   
block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents: ['Главная','Замещение волос'], current:'Замещение волос для детей'})
      +pageSection
        h1 Замещение волос для детей
        +blockMarked({bigPadding:true}).block-marked-whatis
          +blockMarkedContent({marked:true})
            +grid({'padding-y':true, 'align':'center'})
              +cell({m:7,xs:12})
                p Детей с тотальной алопецией очень много. Такие детишки бывают и в обеспеченных семьях, и в не очень. Родители, не вините себя!
                p: +textMarked({'type':'italic'}) Алопеция&nbsp;&mdash; это с&nbsp;чем ребёнку придётся жить. Давайте установку на&nbsp;позитив.
              +cell({m:5,xs:12})
                p: img(src='https://dummyimage.com/600x400.jpg')
      +pageSection
        h2 С&nbsp;какого возраста можно носить систему волос?
        p Здесь решение должны принимать исключительно родители, основываясь на&nbsp;образе жизни ребенка, социальной активности (детский сад, кружки, школа, соревнования), его восприятии себя с&nbsp;волосами и&nbsp;без. На&nbsp;нашей практики самым маленьким клиентом была девочка 5&nbsp;лет.
        p По&nbsp;нашему опыту за&nbsp;системами волос чаще обращаются 
          strong родители девочек, чем мальчиков
          | . Возможно, это связано с&nbsp;тем, что от&nbsp;тотальной алопеции чаще страдают девочки, чем мальчики, а&nbsp;может для мальчиков, по&nbsp;мнению родителей, система волос менее актуальна в&nbsp;принципе.
        h2 Чем отличаются?
        p Детские системы волос отличаются от&nbsp;взрослых, в&nbsp;основном, размером шапочки. Индивидуально можно изготовить систему волос для любого размера головы, сняв мерки или сделав слепок. Так как индивидуальный заказ изготавливается достаточной длительный срок (3-4&nbsp;месяца), а&nbsp;ребенок может находится в&nbsp;активной стадии роста, мы&nbsp;рекомендуем делать основу со&nbsp;стретчевыми вставками.
        h2 Особенности подбора
        +pageSubsection
          -
            const size = {m:6,xs:12}
            const advantages = [
              {title: 'Цвет', text: 'В&nbsp;детской системе волос важно подобрать цвет таким образом, чтобы он&nbsp;смотрелся естественно. Для этого желательно смешивать несколько близких оттенков, а&nbsp;также возможно применение техник сложного окрашивания для создания эффекта максимальной естественности.', sizes: size},
              {title: 'Густота', text: 'Важно правильно подобрать густоту (мы&nbsp;рекомендуем делать системы волос для детей с&nbsp;маленькой густотой), а&nbsp;также сделать удобную и&nbsp;естественную стрижку.', sizes: size},
            ] 
          +listAdvantages(advantages)
      +pageSection
        +pageSubsection
          +grid({'justify': 'center'})
            +cell
              +pageSubsection
                h2 Остались вопросы?
              +pageSubsection
                p: a(href='/').btn Получить консультацию
      +pageSection
        h2 Варианты детских систем
        +pageSubsection
          +grid({'cols': 10})
            -
              const forMen = [
                {image: 'https://dummyimage.com/400x600.jpg', length: 'длина: 15 см', price: '21000', alt: ''},
                {image: 'https://dummyimage.com/400x600.jpg', length: 'длина: 20 см', price: '21000', alt: ''},
                {image: 'https://dummyimage.com/400x600.jpg', length: 'длина: 20 см', price: '21000', alt: ''},
              ]
            each item in forMen
              +cell({m:2, s:3,xs: 5})
                +productItem(item)
        +pageSubsection
          a(href='').btn Перейти в каталог
      +pageSection
        h2 Фото до и после
        -
          const beforeAfter = {
            items: [
              {
                images:{
                  before:'https://dummyimage.com/1024x1024.jpg',
                  after:'https://dummyimage.com/1024x1024.jpg',
                },
                name:'Всеволод',
                desc:'андрогенная алопеция'
              },
              {
                images:{
                  before:'https://dummyimage.com/1024x1024.jpg',
                  after:'https://dummyimage.com/1024x1024.jpg',
                },
                name:'Александр',
                desc:'андрогенная алопеция'
              },
              {
                images:{
                  before:'https://dummyimage.com/1024x1024.jpg',
                  after:'https://dummyimage.com/1024x1024.jpg',
                },
                name:'Анастасия',
                desc:'очаговая алопеция(частичное облысение на макушке-гнездное облысение)'
              },
            ]
          }
        +beforeAfter(beforeAfter)
block end
  +style('replacement')
