.discounts-slider
  --swiper-pagination-color #4E4E4E
  --swiper-pagination-bullet-inactive-color #7C776C
  position relative
  padding-top 2rem
  padding-bottom 1.5rem
  overflow hidden
  &__slider
    position static
    background-color #F4ECDC
  &__navigation
    --position 0
    --color-background #4E4E4E
    --color-background-hover #101010
    position absolute
    top 50%
    z-index 3
    width (basePadding * 4)
    height (basePadding * 2)
    padding 0
    background-color var(--color-background)
    border none
    transform-origin 50% 50% 0
    mask-image url(../images/arrow.svg)
    mask-repeat no-repeat
    mask-position center
    mask-size contain
    @media(max-width point-m - 1)
      --position -1rem
    &--prev
      left var(--position)
    &--next
      right var(--position)
      transform rotate(180deg)
    &--disabled
      --color-background #B7B7B7
      --color-background-hover var(--color-background)
      cursor default
    &:hover
      background-color var(--color-background-hover)
  &__pagination
    position absolute
    bottom 0 !important
    display flex
    justify-content center
