.header-cart
  position relative
  display flex
  flex-direction column
  justify-content flex-end
  height 3.125rem
  padding-left 3rem
  font-size font-s
  line-height 1.5
  text-decoration none
  color var(--link-secondary-color-hover)
  &::before
    content ''
    position absolute
    top 0
    left 0
    display block
    width 2.375rem
    height 3.125rem
    background-image url("../images/svg-sprites/common.svg#cart")
    background-repeat no-repeat
    background-position center
    background-size cover
    transition opacity .2s
  &:hover
    color var(--link-secondary-color)
    &::before
      opacity .5
      transition none
