.video-js
  width 100%
  height auto
  max-width 100%
  aspect-ratio 16 / 9 
  & .vjs-big-play-button
    left calc(50% + 1.75rem)
    background-color #585858c7
    border none
    border-radius 50%
    font-size 3.75em
    line-height 1.5em
    height 3.5rem
    width 3.5rem
  &:hover .vjs-big-play-button
    background-color #585858c7

.vjs-button-vr
  @media(max-width point-l - 1)
    display none !important
