.profile-item
  display block
  height 100%
  padding 12rem (basePadding*2) (basePadding*2)
  font-size font-xl
  text-align center
  text-decoration none
  color #000
  background-color var(--marked-color-light)
  background-repeat no-repeat
  background-position center 3rem
  background-size 6rem
  transition background-color .2s
  &:hover
    color #000
    background-color var(--marked-color-medium)
    transition none
  &--current-orders
    background-image url('../images/svg-sprites/personal.svg#current-orders')
  &--user
    background-image url('../images/svg-sprites/personal.svg#user')
  &--orders
    background-image url('../images/svg-sprites/personal.svg#orders')
  &--profiles
    background-image url('../images/svg-sprites/personal.svg#profiles')
  &--cart
    background-image url('../images/svg-sprites/personal.svg#cart')
