.banner-schedule
  text-align center
  background-image url(../images/banner-schedule/bg.webp)
  background-repeat no-repeat
  background-position center
  background-size cover
  &__title
    display block
    padding-block 1.5rem
    padding-inline 1rem
    font-size 1.125rem
    font-weight 700
    text-decoration none!important
    color #ad0a31
