mixin grid(settings = {'tag':'','nopadding':false, 'align':'','cols':12})
  -
    const gridClassList = []
    for ( let item of Object.entries(settings) ) {
      if (item[0] !== 'tag' && item[1]) {
        if (item[1]===true)
          gridClassList.push(`grid--${item[0]}`)
        else
          gridClassList.push(`grid--${item[0]}-${item[1]}`)
      }
    }
    settings.tag = settings.tag ? settings.tag : 'div'
  #{settings.tag}.grid(class!= gridClassList id= attributes.id)&attributes(attributes)
    block

mixin cell(settings = {'tag':'','hd':'','xl':'','l':'','m':'','s':'','xs':''})
  -
    const cellClassList = []
    for ( let item of Object.entries(settings) ) {
      if (item[0] !== 'tag' && item[1]) {
        if (item[1]===true)
          cellClassList.push(`grid__cell--${item[0]}`)
        else
          cellClassList.push(`grid__cell--${item[0]}-${item[1]}`)
      }
    }
    settings.tag = settings.tag ? settings.tag : 'div'
  #{settings.tag}.grid__cell(class != cellClassList id != attributes.id)&attributes(attributes)
    block

mixin grid__item(settings)
  +cell(settings)
    block
