mixin blockMarkedBorder(settings = {})
  -
    const classList = []
    for ( let item of Object.entries(settings) ) {
      if (item[0] !== 'tag' && item[1]) {
        if (item[1]===true)
          classList.push(`block-marked-border--${item[0]}`)
        else
          classList.push(`block-marked-border--${item[0]}-${item[1]}`)
      }
    }
  .block-marked-border(class != classList)&attributes(attributes)
    block
