.header-mobile-switcher
  display block
  height 3rem
  padding basePadding
  padding-left (basePadding*4)
  font-weight 500
  text-decoration none
  color #ffffff
  background-color var(--link-color-hover)
  background-image url("../images/svg-sprites/common.svg#hamburger")
  background-repeat no-repeat
  background-position basePadding center
  background-size (basePadding*2) auto
  @media screen and (min-width (point-m))
    display none
