mixin listAdvantages(list)
  +grid({tag:'ul', 'padding-y': true}).list-advantages
    each item in list
      -
        item.sizes = item.sizes ? item.sizes : {m:3,s:4,xs:6}
        const itemOptions = item.sizes
        itemOptions.tag = 'li'
      +cell(itemOptions).list-advantages__item(class != className)
        if item.title
          .list-advantages__title !{item.title}
        if item.text
          .list-advantages__text: +createElement(item.text)
