.list-advantages
  &.grid
    margin-bottom -(basePadding*3)
  h2 + &
    margin-top 0
  &__item
    display flex
    flex-direction column
    &.grid__cell
      padding-bottom (basePadding*3)
  &__title
    padding-left basePadding
    font-size font-l
    font-weight bold
    line-height line-m
    border-left 5px solid var(--marked-color-dark)

    &:only-child
      flex-grow 1
  &__text
    flex-grow 1
    padding-top basePadding
    padding-left basePadding
    line-height line-m
    border-left 5px solid var(--marked-color-dark)
