.list-sequence
  counter-reset list-sequence
  &__item
    position relative

    counter-increment list-sequence
    &.grid__cell
      padding-top 4.5rem
    &::before
      content counter(list-sequence)
      position absolute
      top 0
      left basePadding
      font-size 3.75rem
      font-weight 100
      font-style italic
      color var(--link-color)
    &::after
      content ''
      position absolute
      top 3rem
      right basePadding
      width calc(100% - 4.5rem)
      height 1rem
      background-image linear-gradient(to bottom, transparent 7px, var(--link-color) 7px, var(--link-color) 9px, transparent 9px), url('../images/svg-sprites/icons.svg#arrowSequenceRight')
      background-repeat repeat, no-repeat
      background-position 0 0, right -.4375rem center
    &:last-child::after
      display none
    @media screen and (max-width point-m - 1)
      &.grid__cell
        padding-top basePadding
        padding-left 4rem
      &::after
        top 4rem
        left 1.5rem
        width 1rem
        height calc(100% - 5.5rem)
        background-image linear-gradient(to left, transparent 7px, var(--link-color) 7px, var(--link-color) 9px, transparent 9px), url('../images/svg-sprites/icons.svg#arrowSequenceBottom')
        background-repeat repeat, no-repeat
        background-position 0 0, center bottom -.1875rem
  &__title
    margin-bottom basePadding
    font-size font-l
    font-weight bold
