include /blocks/grid/grid

mixin listSequence(list = [])
  +grid({'padding-y': true, 'tag': 'ul'}).list-sequence
    each item in list
      +cell({'tag': 'li', m:3, s:8, xs:12}).list-sequence__item
        .list-sequence__title !{item.title}
        .list-sequence__text: +createElement(item.text)
