.product-item
  text-decoration none
  &:hover
    & ^[-1]__name
    & ^[-1]__length // @stylint ignore
      color var(--link-color-hover)
  &__name
    margin-top .5rem
    color var(--font-color)
  &__length
    margin-top .5em
    font-size font-s
    color var(--font-color)
  &__price
    margin-top .25em
    font-size font-xxl
    font-weight 500
    color var(--font-color)
  &__image
    position relative
  &__discount
    position absolute
    right 0
    bottom 0
    display flex
    align-items center
    justify-content center
    width 3.5rem
    height 3.5rem
    font-size 1.25rem
    font-weight 500
    color #fff
    background-color #f42c2c
    border-radius 50%
