.home-free-consultation
  text-align center
  &__phone
    margin-top 1rem
    font-size 2em
    font-weight 500
  &__messengers.link-icons
    margin-x -(basePadding/2)
    justify-content center
    & .link-icons__link
      margin-x (basePadding/2)
