include ../block-marked/block-marked
include /blocks/link-icons/link-icons

+blockMarked.home-free-consultation
  +blockMarkedContent({'marked': true})
    +grid
      +cell({m:4, s:6, xs:12})
        h3 Позвоните нам
        .home-free-consultation__phone +7 (800) 775-20-89
      +cell({m:4, s:6, xs:12})
        h3 Напишите в мессенджер 
        +linkIcons(['telegram', 'whatsapp', 'viber']).home-free-consultation__messengers
        p Напишите нам при помощи приложений Viber, WhatsApp и Telegram, добавив наш номер +7 (921) 571 01 24 в список контактов.
      +cell({m:4, s:6, xs:12})
        h3 Перезвоним вам
        p Оставьте 
          a(href='') заявку на обратный звонок
