include /blocks/form-input/form-input

mixin cartTable(table)
  .cart-table
    - let sum = 0
    each item in table
      -
        item.quantity = item.quantity ? item.quantity : 1
        sum += item.quantity * item.price
      .cart-table__item
        if !item.deleted
          .cart-table__image: a(href='stranica-tovara-sistema'): img(src!= item.image alt!= item.name)
          .cart-table__body
            .cart-table__info
              .cart-table__name: a(href='stranica-tovara-sistema') !{item.name}
              .cart-table__color Цвет: !{item.color}
              if item.availability
                .cart-table__availability.cart-table__availability--true В наличии
              else
                .cart-table__availability Под заказ: срок поставки на склад магазина от 2 до 4 недель
            .cart-table__properties
              .cart-table__quantity
                .cart-table__amount.basket-item-block-amount
                  a(href='#').cart-table__quantity-dec −
                  .cart-table__quantity-input: +formInput({type: 'number', value: item.quantity})
                  a(href='#').cart-table__quantity-inc +
              .cart-table__price
                .cart-table__price-main !{item.price * item.quantity}&nbsp;₽
                if item.quantity > 1
                  .cart-table__price-per-item 1&nbsp;шт&nbsp;= !{item.price}&nbsp;₽
              .cart-table__service-links
                a(href='').link-secondary Удалить
                a(href='').link-secondary Отложить
        else
          .cart-table__notification.basket-items-list-item-notification Товар 
            strong !{item.name}
            |  был удален из корзины

    .cart-table__summary
      div Итого: 
      .cart-table__sum !{sum}&nbsp;₽
