.cart-table
  &__item
    display flex
    align-items flex-start
    margin -(basePadding)
    margin-bottom basePadding
    & + &
      margin-top basePadding
      padding-top basePadding
      border-top .5px solid var(--border-color)
  &__image
    width 10rem
    max-width 20%
    padding basePadding

    img
      display block
  &__body
    display flex
    flex-grow 1
    flex-wrap wrap
    align-items flex-start
    @media(max-width point-m - 1)
      flex-direction column
  &__properties
    display flex
    flex-wrap wrap
    align-items center
  &__info
    flex-grow 1
    padding basePadding
    @media(min-width point-m)
      flex-basis 40%
  &__name
    margin-bottom .25rem
    font-size font-l
    font-weight 500
  &__color
    margin-bottom .25rem
    color var(--font-color-secondary)
  &__availability
    color var(--message-text-warning-color)
    &--true
      color var(--message-text-success-color)
  &__quantity
    padding basePadding
  &__amount
    display flex
    align-items center
  a&__quantity-dec
  a&__quantity-inc
    width 1.5rem
    font-size font-xxl
    text-align center
    text-decoration none
    color var(--link-secondary-color)
    border 1px solid var(--border-color)
    &:hover
      color var(--link-secondary-color-hover)
  &__quantity-input input
    max-width 3rem
    margin-x (basePadding/3)
    padding (basePadding/3)
    text-align center
    -moz-appearance textfield // @stylint ignore
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button
      margin 0
      -webkit-appearance none // @stylint ignore
  &__price
    display flex
    flex-direction column
    align-items flex-end
    width 8rem
    padding basePadding
    @media screen and (max-width point-s - 1)
      align-items flex-start
  &__price-main
    font-size font-l
    font-weight 500
  &__price-per-item
    font-size font-xs
    color var(--font-color-secondary)
  &__service-links
    display flex
    flex-direction column
    padding basePadding
    font-size font-xs
  &__summary
    display flex
    justify-content flex-end
    margin-bottom (basePadding*2)
    padding-top basePadding
    font-size font-xxl
    font-weight 500
    line-height 1.5
    border-top 1px solid var(--border-color)
  &__sum
    margin-left .5rem
  &__notification
    flex-grow 1
    margin-top basePadding
    padding basePadding
