.feedback-item
  &__author
    parMargin()

    font-size font-s
    line-height line-s
    color var(--font-color-secondary)
  &__mark
    padding-x (basePadding)
    font-size font-l
    font-weight 500
    font-style italic
  &__photo
    display flex
  &__photo-image
    width 8rem
    margin-right (basePadding/3*2)

    img
      display block
    a
      display block
  &__photo-desc
    font-size font-s
    line-height line-s

    a
      text-decoration none
      border-bottom 1px dotted
      @supports (text-decoration-style dotted) or (-webkit-text-decoration-style dotted)
        text-decoration underline
        text-decoration-style dotted
        border-bottom none
