mixin footerMenu(menu)
  .footer-menu
    .footer-menu__header
      if menu.header.link
        a(href='').link-secondary !{menu.header.text}
      else
        | !{menu.header.text}
    ul.footer-menu__list
      each item in menu.list
        li.footer-menu__item: a(href='').link-secondary !{item}
