.footer-menu
  &__header
    font-weight 500
    color var(--link-secondary-color)
  &__list
    line-height line-m
    ^[-1]__header + & //@stylint ignore
      margin-top (font-m/2)
  &__item
    & + &
      margin-top (font-m/4)
