.list-marked
  @extend p

  padding-left (basePadding*2)

  &.grid
    margin-x 0

  & + &
  p + &
  .list-numbered + &
  .table + &
  .figure + &
    margin-top 1rem
  h1 + &
    margin-top 1rem
  h2 + &
    margin-top .5625rem
  h3 + &
    margin-top .3125rem
  h4 + &
    margin-top .125rem
  &--w-prev-par // для списка, связанного с предыдущим абзацем
    p + &
      margin-top 0
  > li
    margin-bottom (font-m/4) 
    list-style disc
    &.grid__cell
      padding-right (basePadding*2)
      padding-left 0
  &--big
    padding-left 0
    font-size font-xl
    & > li
      position relative
      margin-bottom font-xl
      padding-left (basePadding*2)
      list-style none
      &:last-child
        margin-bottom 0
      &::before
        content ''
        position absolute
        top basePadding
        left basePadding
        width 1rem
        height 2rem
        background-image var(--bullit-big)
        background-repeat no-repeat
        background-position center
        background-size auto 2rem
    &.grid
      & > li
        margin-bottom 0
        padding-left (basePadding*3)
        background-position basePadding basePadding
  &--big-circle
    padding-left 0
    & > li
      margin-bottom (font-m/4) 
      padding-left (basePadding*2.5)
      list-style none
      background-image url('../images/svg-sprites/common.svg#circle')
      background-repeat no-repeat
      background-position .375rem .25rem
      background-size 1rem
      &:last-child
        margin-bottom 0
