.banner-new-year
  p.banner-new-year__title В преддверии #[span 2023] года...
  p.banner-new-year__discount #[span Дарим скидку ]  #[br]  на все системы волос!
  p.banner-new-year__duration Предложение действует только до&nbsp;30&nbsp;декабря
