@font-face
  font-family 'Esenin script One'
  src local("Esenin script One"), url("../fonts/woff/esenin-script-one.woff") format("woff")
  font-weight 400
  font-style italic
  font-display swap
.banner-new-year
  margin-right -(basePadding*1.03)
  margin-left -(basePadding*1.875)
  padding-top 3.5rem
  padding-bottom 17rem
  color #FFFFFF
  background-image image-set(url('../images/banner-ny/banner-ny_l.webp') 1x, url('../images/banner-ny/banner-ny_l@2x.webp') 2x)
  background-repeat no-repeat
  background-position center
  background-size cover
  background-color #103BAB
  overflow hidden
  aspect-ratio 1/0.54
  @media(min-width point-l)
    padding-right (basePadding*3.75)
    padding-left 2.6rem
  @media(max-width point-l - 1)
    padding-top 2.5rem 
    padding-bottom 10rem
    padding-left (basePadding*2)
    background-image image-set(url('../images/banner-ny/banner-ny_m.webp') 1x, url('../images/banner-ny/banner-ny_m@2x.webp') 2x)
    aspect-ratio 1/0.53
  @media(max-width point-m - 1)
    padding-top 2.25rem
    padding-bottom 7rem
    background-image image-set(url('../images/banner-ny/banner-ny_s.webp') 1x, url('../images/banner-ny/banner-ny_s@2x.webp') 2x)
    aspect-ratio 1/0.7
  @media(max-width point-s - 1)
    padding-bottom 13rem
    background-image image-set(url('../images/banner-ny/banner-ny_xs.webp') 1x, url('../images/banner-ny/banner-ny_xs@2x.webp') 2x)
    aspect-ratio 1/1.3
  &__title
    font-size 3.125rem
    line-height 1.2
    font-family 'Esenin script One', serif
    color transparent
    background linear-gradient(319.71deg, #C4904D -7.07%, #FFD59D 24.96%, #E1B171 50.05%, #FFE4C0 75.92%)
    background-clip text
    font-style italic
    @media(max-width point-m - 1)
      font-size 2.5rem
    @media(max-width point-s - 1)
      font-size 2rem
    & span 
      font-size 3.75rem
      line-height 1.2
      @media(max-width point-m - 1)
        font-size 3rem
      @media(max-width point-s - 1)
        font-size 2.125rem
  &__discount
    margin-top 3.125rem
    font-size 3.125rem
    line-height 1.2
    @media(max-width point-l - 1)
      font-size 2.5rem
    @media(max-width point-m - 1)
      margin-top 1.625rem
      font-size 1.9rem
    @media(max-width point-s - 1)
      font-size 1.7rem
    & span 
      position relative
      display inline-block
      &::after
        position absolute
        content ' '
        top -68%
        right -70%
        width 207px
        height 126px
        mask-image url('../images/svg-sprites/common.svg#banner-ny-rect')
        mask-repeat no-repeat
        background linear-gradient(180deg, #18378F 0%, #0C2877 100%)
        @media(max-width point-l - 1)
          width 157px
          height 96px
        @media(max-width point-m - 1)
          width 127px
          height 77px
        @media(max-width point-s - 1)
          width 117px
          height 69px
      &::before
        position absolute
        content '23%'
        top -37%
        right -58%
        font-size 4.5rem
        color transparent
        background conic-gradient(from 180deg at 50% 50%, #FEE4A4 0deg, #AC914F 86.25deg, #FFF0CB 196.87deg, #AC914F 270deg, #FEE4A4 360deg)
        background-clip text
        z-index 2
        @media(max-width point-l - 1)
          font-size 3.6rem
        @media(max-width point-m - 1)
          font-size 2.8rem
        @media(max-width point-s - 1)
          font-size 2.6rem
  &__duration
    font-size 1.125rem
    line-height 1.3
    font-style italic
    @media(max-width point-m - 1)
      width 59%
      font-size 1rem
    @media(max-width point-s - 1)
      width 52%
