.modal-add-to-cart
  display flex
  flex-direction column
  align-items center
  padding basePadding
  border .5px var(--border-color) solid
  &__title
    margin-bottom 1rem
  &__image
    display flex
    flex-direction column
    align-items center
    margin-bottom 1rem

    img
      margin-bottom .5rem
