.modal-add-to-cart
  .modal-add-to-cart__title Товар добавлен в корзину
  .modal-add-to-cart__image
    img(src='https://dummyimage.com/400x600.jpg' alt='Perfecto' style='max-height: 130px;')
    | Perfecto
  a(href='/cart.html').btn Перейти в корзину
