.footer-phone
  margin-bottom 1rem
  &__phone
    font-size 2.5rem

    a
      text-decoration inherit
      color inherit
      transition .4s opacity
      &:hover
        opacity .75
        transition .1s opacity
  &__clarification
    display block
    margin-top .25rem
    font-size font-m
