.iframe-responsive
  &__iframe
    position relative
    padding-bottom 56.25%
    iframe
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      border none
  &__desc
    margin-bottom 1rem
    font-style italic
    line-height 1.375rem
    ^[-1]__iframe &
      margin-top .5rem
