.link-icons
  parMargin()
  display flex
  align-items center
  margin-x -.25rem
  &__link
    display block
    height 0
    margin-x .25rem
    padding 1rem
    background-repeat no-repeat
    background-position center
    background-size contain
    &--whatsapp
      background-image var(--whatsapp)
    &--viber
      background-image var(--viber)
    &--telegram
      background-image var(--telegram)
    &--instagram
      background-image var(--instagram)
    &--facebook
      background-image var(--facebook)
    &--vk
      background-image var(--vk)
