.header
  &__navigation
    background-color var(--nav-background)
    & > .content
      position relative
      display flex
  &__navigation-phone
    align-self center
    margin-left auto
    color #ffffff

    a
      text-decoration inherit
      color inherit
      transition .4s opacity
      &:hover
        opacity .75
        transition .1s opacity
  &__banner
    margin-y 1.5rem
    padding-y 1rem
    text-align center
    border 1px solid var(--marked-color-light)
