include /blocks/banner-schedule/banner-schedule

.container.appointment: .content
  p Предварительная запись в салон обязательна, так как консультация и примерка занимает около 1 часа.
header.header
  .container
    .content
      include header-top/header-top
  .container.header__navigation
    .content
      include header-mobile-switcher/header-mobile-switcher
      include header-navigation/header-navigation
      +headerNavigation(mainMenu).top-menu
      .header__navigation-phone.hidden-hd.hidden-xl.hidden-l.hidden-m: a(href='tel:78007752089') +7 (800) 775-20-89
  //- .container 
  //-   .content.header__banner
  //-     p 28 декабря: сокращенный день до 17:00 #[br] #[strong #[a(href='#new-year' data-fancybox) График работы в праздничные дни]]
  //-     div(style='display: none')#new-year
  //-       p 30&nbsp;декабря: с 10:00 до 19:00 #[br] 31&nbsp;декабря&nbsp;&mdash; 3&nbsp;января: выходной #[br] 4&nbsp;января&nbsp;&mdash; 6&nbsp;января: с 10:00 до 19:00 #[br] 7 января: выходной #[br] 8 января: с 10:00 до 19:00 #[br] c 9 января работаем в обычной режиме
  +bannerSchedule
