mixin textMarked(settings = {tag:'', type:''})
  -
    let tag = settings.tag ? settings.tag : 'span'
    let fontWeight = settings.fontWeight ? settings.fontWeight : 'bold'
    let classList = [
      (attributes.class ? attributes.class : ''),
      (fontWeight ? 'text-marked--font-weight-'+fontWeight : '' ),
      (settings.type ? 'text-marked--'+settings.type : '' ),
    ]
  #{tag}.text-marked(class != classList)
    block
