.form
  position relative
  display flex
  flex-direction column
  align-self flex-start
  margin-top 1rem
  padding 1.5rem 1rem 3rem
  background-color var(--marked-color-medium)
  &--with-header
    padding 3rem 1rem
  &__input
    margin-bottom (basePadding*2)
  &__submit
    .btn
      width 100%
      padding-y (basePadding/3*4)
      font-size font-xl
