
-
  const mainMenu = [
    {'name':'Замещение волос','href':'zameshchenie-volos.html',active:true,
      sublist: [
        {'name':'Для женщин','href':'/zameshchenie-volos-dlya-zhenshchin.html'},
        {'name':'Для мужчин','href':'/zameshchenie-volos-dlya-muzhchin.html'},
        {'name':'Для детей','href':'/zameshchenie-volos-dlya-detej.html'},
        {'name':'Частые вопросы','href':'/chastye-voprosy.html'},
        {'name':'Инструкции','href':'/instruktsii.html'},
      ]
    },
    {'name':'Готовые системы волос','href':'/gotovye-sistemy-volos.html',
      sublist: [
        {'name':'Акция','href':'/'},
        {'name':'Тип системы',
          sublist: [
            {'name':'Верхняя часть головы','href':'/gotovye-sistemy-volos.html'},
            {'name':'Полный объём головы','href':'/gotovye-sistemy-volos.html'},
          ]
        },
        {'name':'Длина системы',
          sublist: [
            {'name':'15 см','href':'/gotovye-sistemy-volos.html'},
            {'name':'20 см','href':'/gotovye-sistemy-volos.html'},
            {'name':'25 см','href':'/gotovye-sistemy-volos.html'},
            {'name':'35 см','href':'/gotovye-sistemy-volos.html'},
            {'name':'45 см','href':'/gotovye-sistemy-volos.html'},
          ]
        },
      ]
    },
    {'name':'Материалы','href':'/materialy.html'},
    {'name':'Фото до и после','href':'/foto-do-i-posle.html'},
    {'name':'О магазине','href':'/o-magazine.html'},
    {'name':'Контакты','href':'/kontakty.html'},
  ]
