.tip
  position relative
  display inline-block
  &__body
    position absolute
    top -(basePadding/3)
    left calc(100% + 1rem)
    z-index 10
    display none
    width 20rem
    padding (basePadding/3) (basePadding/3*2)
    font-size font-s
    color var(--font-color)
    background-color var(--marked-content)
    cursor default
    &::before
      content ''
      position absolute
      top (basePadding/3)
      left 0
      border font-xxs solid transparent
      border-right-color var(--marked-content)
      transform translateX(-100%)
    &--left
      right calc(100% + 1rem)
      left auto
      &::before
        content ''
        position absolute
        top (basePadding/3)
        right 0
        left auto
        border-right-color transparent
        border-left-color var(--marked-content)
        transform translateX(100%)
    @media screen and (max-width point-m - 1)
      --tip-body-left 0 // @stylint ignore
      --tip-body-right 0 // @stylint ignore
      --tip-arrow-left 0 // @stylint ignore

      top unquote('calc(100% + ' + basePadding + ')')
      right auto
      left var(--tip-body-left)
      &::before
        content ''
        position absolute
        top 0
        left var(--tip-arrow-left)
        border-right-color transparent
        border-bottom-color var(--marked-content)
        transform translateY(-100%)
    &--active
      display block
